# Query by Individual Contribution Context #

## Overview ##

Query based on `ctx_indiv_contrib` view

## Notebook Setup ##

* Configure database connect information and options
* Clear potentially interfering context (PostgreSQL doesn't let you replace a view definition with conflicting column names)
* Set styling for notebook

In [1]:
sqlconnect = "postgresql+psycopg2://crash@localhost/fecdb"

%load_ext sql
%config SqlMagic.autopandas=True
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'
%sql $sqlconnect

'Connected: crash@fecdb'

In [2]:
%%html
<style>
  tr, th, td {
    text-align: left !important;
  }
</style>

## Validate Context ##

In [3]:
%%sql
select count(*)
  from ctx_indiv_contrib

 * postgresql+psycopg2://crash@localhost/fecdb
1 rows affected.

   count
0  20567

## Query Based on Context ##

### Query using `ctx_indiv_contrib` ###

In [4]:
%%sql
select icx.elect_cycle,
       count(*) cycle_contribs,
       sum(icx.transaction_amt) cycle_amount,
       round(avg(icx.transaction_amt), 2) avg_amount,
       min(icx.transaction_amt) min_amount,
       max(icx.transaction_amt) max_amount
  from ctx_indiv_contrib icx
 group by 1
 order by 1

 * postgresql+psycopg2://crash@localhost/fecdb
11 rows affected.

,elect_cycle,cycle_contribs,cycle_amount,avg_amount,min_amount,max_amount
0,2000,646,6882505.00,10654.03,-245000.00,317068.00
1,2002,708,32106740.00,45348.50,-1000.00,7000000.00
2,2004,799,28080591.00,35144.67,-2000.00,3000000.00
3,2006,922,33215996.00,36026.03,-1000.00,2500000.00
4,2008,1015,15334856.00,15108.23,-5000.00,2878872.00
5,2010,1323,105298333.00,79590.58,-100000.00,6000000.00
6,2012,1529,291771883.00,190825.30,-750000.00,10000000.00
7,2014,2341,201218838.00,85954.22,-10200.00,16000000.00
8,2016,4143,722705756.00,174440.20,-226800.00,11000000.00
9,2018,6033,665768670.00,110354.50,-54000.00,20000000.00
10,2020,1108,72061769.00,65037.70,-5400.00,5000000.00