# Query by Individual Contribution Context #

## Overview ##

Query based on `ctx_indiv_contrib` view

## Notebook Setup ##

* Configure database connect information and options
* Clear potentially interfering context (PostgreSQL doesn't let you replace a view definition with conflicting column names)
* Set styling for notebook

In [1]:
sqlconnect = "postgresql+psycopg2://crash@localhost/fecdb"

%load_ext sql
%config SqlMagic.autopandas=True
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'
%sql $sqlconnect

'Connected: crash@fecdb'

In [2]:
%%html
<style>
  tr, th, td {
    text-align: left !important;
  }
</style>

## Validate Context ##

In [3]:
%%sql
select count(*)
  from ctx_contrib

 * postgresql+psycopg2://crash@localhost/fecdb
1 rows affected.

   count
0   4369

## Query Based on Context ##

### Query using `ctx_indiv_contrib` ###

In [4]:
%%sql
select cx.elect_cycle,
       count(*) cycle_contribs,
       sum(cx.transaction_amt) cycle_amount,
       round(avg(cx.transaction_amt), 2) avg_amount,
       min(cx.transaction_amt) min_amount,
       max(cx.transaction_amt) max_amount
  from ctx_contrib cx
 group by 1
 order by 1

 * postgresql+psycopg2://crash@localhost/fecdb
10 rows affected.

   elect_cycle  cycle_contribs cycle_amount avg_amount min_amount max_amount
0         2002               5      3500.00     700.00     250.00    1000.00
1         2004               8     31000.00    3875.00     500.00   25000.00
2         2006              17     14200.00     835.29     200.00    2000.00
3         2008              22     13100.00     595.45     200.00    2300.00
4         2010              18     12250.00     680.56     250.00    2500.00
5         2012              19     21000.00    1105.26     250.00   10000.00
6         2014             322    635002.00    1972.06   -2600.00  100000.00
7         2016            1066   1493514.00    1401.05   -2700.00   73175.00
8         2018            2563   3892299.00    1518.65   -2744.00  102281.00
9         2020             329    547664.00    1664.63   -2800.00   50000.00