# Query by Donor Contribution Context #

## Overview ##

Query based on `ctx_donor_contrib` view

## Notebook Setup ##

### Configure database connect info/options ###

Note: database connect string can be specified on the initial `%sql` command:

```python
database_url = "postgresql+psycopg2://user@localhost/fecdb"
%sql $database_url

```

Or, connect string is taken from DATABASE_URL environment variable (if not specified for `%sql`):

```python
%sql

```

In [1]:
%load_ext sql
%config SqlMagic.autopandas=True
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'
# connect string taken from DATABASE_URL environment variable
%sql

'Connected: crash@fecdb'

### Set styling ###

In [2]:
%%html
<style>
  tr, th, td {
    text-align: left !important;
  }
</style>

## Validate Context ##

In [3]:
%%sql
select count(*)
  from ctx_donor_contrib

 * postgresql+psycopg2://crash@localhost/fecdb
1 rows affected.

   count
0   4369

## Queries / Use Cases ##

### Contribution Summary by Election Cycle ###

In [4]:
%%sql
select dcx.elect_cycle,
       count(*) cycle_contribs,
       sum(dcx.transaction_amt) cycle_amount,
       round(avg(dcx.transaction_amt), 2) avg_amount,
       min(dcx.transaction_amt) min_amount,
       max(dcx.transaction_amt) max_amount
  from ctx_donor_contrib dcx
 group by 1
 order by 1

 * postgresql+psycopg2://crash@localhost/fecdb
10 rows affected.

   elect_cycle  cycle_contribs cycle_amount avg_amount min_amount max_amount
0         2002               5      3500.00     700.00     250.00    1000.00
1         2004               8     31000.00    3875.00     500.00   25000.00
2         2006              17     14200.00     835.29     200.00    2000.00
3         2008              22     13100.00     595.45     200.00    2300.00
4         2010              18     12250.00     680.56     250.00    2500.00
5         2012              19     21000.00    1105.26     250.00   10000.00
6         2014             322    635002.00    1972.06   -2600.00  100000.00
7         2016            1066   1493514.00    1401.05   -2700.00   73175.00
8         2018            2563   3892299.00    1518.65   -2744.00  102281.00
9         2020             329    547664.00    1664.63   -2800.00   50000.00

### Top Contributors across Election Cycles ###

In [5]:
%%sql
select d.id as donor_id,
       d.name as donor_name,
       count(*) contribs,
       sum(dcx.transaction_amt) total_amount,
       round(avg(dcx.transaction_amt), 2) avg_amount,
       max(dcx.transaction_amt) max_amount,
       array_agg(distinct dcx.elect_cycle) as elect_cycles,
       round(sum(dcx.transaction_amt) / count(distinct dcx.elect_cycle), 2) avg_cycle_amount
  from ctx_donor_contrib dcx
  join donor_indiv d on d.id = dcx.donor_indiv_id
 group by 1, 2
 order by 4 desc
 limit 50

 * postgresql+psycopg2://crash@localhost/fecdb
50 rows affected.

,donor_id,donor_name,contribs,total_amount,avg_amount,max_amount,elect_cycles,avg_cycle_amount
0,779629,"BEEUWKES, REINIER",433,888258.00,2051.40,100000.00,"[2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020]",111032.25
1,6169689,"KARPLUS, BARBARA",340,878285.00,2583.19,73175.00,"[2016, 2018, 2020]",292761.67
2,10979072,"SHENKER, SCOTT",241,849800.00,3526.14,50000.00,"[2014, 2016, 2018, 2020]",212450.00
3,28429,"ABRAMSON, RONALD",295,471583.00,1598.59,33400.00,"[2012, 2014, 2016, 2018, 2020]",94316.60
4,1083690,"BLUE, ALLEN",81,426400.00,5264.20,33900.00,"[2016, 2018]",213200.00
5,7863787,"MCEVOY, NION",558,383899.00,687.99,50000.00,"[2002, 2004, 2006, 2008, 2010, 2012, 2014, 201...",38389.90
6,11902785,"TAYLOR, DALE",48,258050.00,5376.04,66100.00,"[2016, 2018, 2020]",86016.67
7,4336953,"GIRARDI, THOMAS V.",24,235100.00,9795.83,100000.00,"[2014, 2016, 2018, 2020]",58775.00
8,6433238,"KIRK, CLAY",98,211850.00,2161.73,20000.00,"[2014, 2016, 2018, 2020]",52962.50
9,1661575,"BYERS, BROOK",60,194900.00,3248.33,25000.00,"[2014, 2016, 2018, 2020]",48725.00
10,9188602,"PARK, TODD",26,155414.00,5977.46,100000.00,"[2018, 2020]",77707.00
11,4745356,"GURAL, JEFFREY",49,134500.00,2744.90,10000.00,"[2004, 2014, 2016, 2018, 2020]",26900.00
12,6822374,"LARSEN, CHRIS",26,115200.00,4430.77,25000.00,"[2010, 2016, 2018, 2020]",28800.00
13,8793106,"NIELSEN, SHEILA",474,113619.00,239.70,10000.00,"[2014, 2016, 2018, 2020]",28404.75
14,10325529,"ROSZAK, MATTHEW",6,110181.00,18363.50,102281.00,"[2018, 2020]",55090.50
15,6110433,"KAHN, RONALD N",38,105600.00,2778.95,5000.00,"[2014, 2016, 2018, 2020]",26400.00
16,8848719,"NORTON, JACK",200,102475.00,512.38,3000.00,"[2010, 2012, 2014, 2016, 2018, 2020]",17079.17
17,5870457,"JENCKS, CHRISTOPHER",309,102033.00,330.20,2700.00,"[2004, 2006, 2012, 2014, 2016, 2018, 2020]",14576.14
18,9683572,"PROCKOP, DARWIN J. MD, PHD",3,102000.00,34000.00,100000.00,"[2016, 2018]",51000.00
19,11659801,"STOREY, BAYARD T PH.D.",16,91700.00,5731.25,25000.00,"[2006, 2014, 2016]",30566.67
20,4435025,"GOLLON, PETER",169,87000.00,514.79,2000.00,"[2014, 2016, 2018, 2020]",21750.00
21,3993057,"FRIEDMAN, DONNA",22,58550.00,2661.36,7500.00,"[2014, 2016, 2018, 2020]",14637.50
22,8656333,"NASH, RICHARD",5,58099.00,11619.80,50000.00,[2018],58099.00
23,12143213,"TORRES, TOMAS",128,58062.00,453.61,2700.00,"[2012, 2014, 2016, 2018, 2020]",11612.40
24,12265351,"TUSK, BRADLEY",21,55600.00,2647.62,5400.00,"[2014, 2016, 2018, 2020]",13900.00
25,4293837,"GILBERT, JOHN",94,39225.00,417.29,2500.00,"[2004, 2006, 2014, 2016, 2018, 2020]",6537.50
26,9165471,"PARK, DAVID",12,36345.00,3028.75,10239.00,[2018],36345.00
27,3678807,"FERSTER, DAVID",62,32058.00,517.06,5000.00,"[2014, 2016, 2018, 2020]",8014.50
28,7037936,"LEVINSON, FRANK",43,31541.00,733.51,5000.00,"[2016, 2018, 2020]",10513.67
29,6147085,"KAPER, TASSO",65,25109.00,386.29,2500.00,"[2014, 2016, 2018, 2020]",6277.25
30,11356137,"SOLIMAN, KARL",9,25033.00,2781.44,24945.00,[2018],25033.00
31,8417423,"MORGAN, HOWARD L.",1,25000.00,25000.00,25000.00,[2018],25000.00
32,8688914,"NEGROPONTE, NICHOLAS",7,21987.00,3141.00,11189.00,[2018],21987.00
33,5515167,"HORLICK, SUSAN",222,20670.00,93.11,500.00,"[2016, 2018, 2020]",6890.00
34,5601495,"HUDSON, BRUCE S.",11,17000.00,1545.45,5000.00,[2016],17000.00
35,4684620,"GROSSBLATT, DAVID",6,16033.00,2672.17,10115.00,[2018],16033.00
36,3850042,"FORDE, JAMES",4,13500.00,3375.00,5400.00,[2018],13500.00
37,5486301,"HONARKAR, MOHAMMAD",43,11950.00,277.91,10000.00,"[2016, 2018]",5975.00
38,11024692,"SHOCH, JOHN PHD",2,11000.00,5500.00,10000.00,"[2016, 2018]",5500.00
39,2576925,"CUELLAR, CLIFFORD",54,10584.00,196.00,5000.00,"[2016, 2018, 2020]",3528.00
40,9688035,"PROOPS, JAY",2,10250.00,5125.00,10000.00,[2018],10250.00
41,678448,"BASSI, STEVE",1,10233.00,10233.00,10233.00,[2018],10233.00
42,6872845,"LAWRENCE, FRANK",11,10165.00,924.09,5000.00,"[2016, 2020]",5082.50
43,11823232,"SWINDELL, DAVE",2,10000.00,5000.00,5000.00,[2018],10000.00
44,5902719,"JHONG, EUGENE",8,8802.00,1100.25,8302.00,"[2018, 2020]",4401.00
45,3997846,"FRIEDMAN, RANDOLPH",2,7700.00,3850.00,5000.00,"[2018, 2020]",3850.00
46,877907,"BERG, FRED",17,6005.00,353.24,2510.00,"[2016, 2018]",3002.50
47,9625220,"POWERS, ANN",13,5110.00,393.08,1000.00,"[2016, 2018]",2555.00
48,8496236,"MOUNT, PHYLLIS F.",6,5071.00,845.17,2500.00,"[2018, 2020]",2535.50
49,4828088,"HALL, CLAIRE",2,5000.00,2500.00,2500.00,[2018],5000.00

### Top Contributors within an Election Cycle ###

In [6]:
%%sql
select d.id as donor_id,
       d.name as donor_name,
       dcx.elect_cycle,
       count(*) cycle_contribs,
       sum(dcx.transaction_amt) cycle_total_amount,
       round(avg(dcx.transaction_amt), 2) cycle_avg_amount,
       max(dcx.transaction_amt) cycle_max_amount
  from ctx_donor_contrib dcx
  join donor_indiv d on d.id = dcx.donor_indiv_id
 group by 1, 2, 3
 order by 5 desc
 limit 50

 * postgresql+psycopg2://crash@localhost/fecdb
50 rows affected.

,donor_id,donor_name,elect_cycle,cycle_contribs,cycle_total_amount,cycle_avg_amount,cycle_max_amount
0,10979072,"SHENKER, SCOTT",2018,175,616700.00,3524.00,50000.00
1,6169689,"KARPLUS, BARBARA",2018,261,572685.00,2194.20,50000.00
2,779629,"BEEUWKES, REINIER",2018,206,493400.00,2395.15,100000.00
3,1083690,"BLUE, ALLEN",2016,62,288000.00,4645.16,33400.00
4,11902785,"TAYLOR, DALE",2018,38,227200.00,5978.95,66100.00
5,28429,"ABRAMSON, RONALD",2018,176,203524.00,1156.39,33400.00
6,6169689,"KARPLUS, BARBARA",2016,35,189400.00,5411.43,73175.00
7,779629,"BEEUWKES, REINIER",2016,141,185958.00,1318.85,8100.00
8,7863787,"MCEVOY, NION",2018,325,175294.00,539.37,44300.00
9,9188602,"PARK, TODD",2018,22,142214.00,6464.27,100000.00
10,28429,"ABRAMSON, RONALD",2016,75,140150.00,1868.67,33400.00
11,4336953,"GIRARDI, THOMAS V.",2014,6,140000.00,23333.33,100000.00
12,1083690,"BLUE, ALLEN",2018,19,138400.00,7284.21,33900.00
13,1661575,"BYERS, BROOK",2018,37,135600.00,3664.86,25000.00
14,10979072,"SHENKER, SCOTT",2016,42,134600.00,3204.76,33400.00
15,779629,"BEEUWKES, REINIER",2014,52,117500.00,2259.62,20000.00
16,6169689,"KARPLUS, BARBARA",2020,44,116200.00,2640.91,5600.00
17,10325529,"ROSZAK, MATTHEW",2018,5,107681.00,21536.20,102281.00
18,9683572,"PROCKOP, DARWIN J. MD, PHD",2018,2,101000.00,50500.00,100000.00
19,10979072,"SHENKER, SCOTT",2014,23,95800.00,4165.22,32400.00
20,11659801,"STOREY, BAYARD T PH.D.",2016,11,88100.00,8009.09,25000.00
21,6433238,"KIRK, CLAY",2018,44,85950.00,1953.41,20000.00
22,779629,"BEEUWKES, REINIER",2020,30,84900.00,2830.00,33900.00
23,28429,"ABRAMSON, RONALD",2014,25,77409.00,3096.36,30000.00
24,4336953,"GIRARDI, THOMAS V.",2018,11,76400.00,6945.45,25000.00
25,7863787,"MCEVOY, NION",2016,145,72555.00,500.38,5400.00
26,8848719,"NORTON, JACK",2018,122,62575.00,512.91,3000.00
27,6822374,"LARSEN, CHRIS",2018,13,62000.00,4769.23,25000.00
28,8656333,"NASH, RICHARD",2018,5,58099.00,11619.80,50000.00
29,4435025,"GOLLON, PETER",2018,101,57775.00,572.03,2000.00
30,8793106,"NIELSEN, SHEILA",2018,320,56415.00,176.30,5000.00
31,4745356,"GURAL, JEFFREY",2018,16,51700.00,3231.25,10000.00
32,6110433,"KAHN, RONALD N",2018,18,50900.00,2827.78,5000.00
33,28429,"ABRAMSON, RONALD",2020,18,50250.00,2791.67,20000.00
34,6433238,"KIRK, CLAY",2016,25,50200.00,2008.00,4000.00
35,7863787,"MCEVOY, NION",2020,1,50000.00,50000.00,50000.00
36,5870457,"JENCKS, CHRISTOPHER",2018,203,47493.00,233.96,2000.00
37,6433238,"KIRK, CLAY",2014,19,42100.00,2215.79,5000.00
38,4745356,"GURAL, JEFFREY",2016,14,38400.00,2742.86,5000.00
39,6110433,"KAHN, RONALD N",2016,13,37400.00,2876.92,5000.00
40,9165471,"PARK, DAVID",2018,12,36345.00,3028.75,10239.00
41,5870457,"JENCKS, CHRISTOPHER",2016,41,36300.00,885.37,2700.00
42,12143213,"TORRES, TOMAS",2014,74,36209.00,489.31,2600.00
43,6822374,"LARSEN, CHRIS",2016,6,36200.00,6033.33,20000.00
44,12265351,"TUSK, BRADLEY",2018,13,35500.00,2730.77,5400.00
45,6433238,"KIRK, CLAY",2020,10,33600.00,3360.00,15000.00
46,3993057,"FRIEDMAN, DONNA",2020,9,27700.00,3077.78,7500.00
47,7863787,"MCEVOY, NION",2004,4,27500.00,6875.00,25000.00
48,1661575,"BYERS, BROOK",2016,12,27100.00,2258.33,5400.00
49,8793106,"NIELSEN, SHEILA",2014,10,26000.00,2600.00,10000.00