# Query by Donor Contribution Context #

## Overview ##

Query based on `ctx_donor_contrib` view

## Notebook Setup ##

* Configure database connect information and options
* Clear potentially interfering context (PostgreSQL doesn't let you replace a view definition with conflicting column names)
* Set styling for notebook

In [1]:
sqlconnect = "postgresql+psycopg2://crash@localhost/fecdb"

%load_ext sql
%config SqlMagic.autopandas=True
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'
%sql $sqlconnect

'Connected: crash@fecdb'

In [2]:
%%html
<style>
  tr, th, td {
    text-align: left !important;
  }
</style>

## Validate Context ##

In [3]:
%%sql
select count(*)
  from ctx_donor_contrib

 * postgresql+psycopg2://crash@localhost/fecdb
1 rows affected.

   count
0  20567

## Query Based on Context ##

### Query using `ctx_donor_contrib` ###

In [4]:
%%sql
select dcx.elect_cycle,
       count(*) cycle_contribs,
       sum(dcx.transaction_amt) cycle_amount,
       round(avg(dcx.transaction_amt), 2) avg_amount,
       min(dcx.transaction_amt) min_amount,
       max(dcx.transaction_amt) max_amount
  from ctx_donor_contrib dcx
 group by 1
 order by 1

 * postgresql+psycopg2://crash@localhost/fecdb
11 rows affected.

,elect_cycle,cycle_contribs,cycle_amount,avg_amount,min_amount,max_amount
0,2000,646,6882505.00,10654.03,-245000.00,317068.00
1,2002,708,32106740.00,45348.50,-1000.00,7000000.00
2,2004,799,28080591.00,35144.67,-2000.00,3000000.00
3,2006,922,33215996.00,36026.03,-1000.00,2500000.00
4,2008,1015,15334856.00,15108.23,-5000.00,2878872.00
5,2010,1323,105298333.00,79590.58,-100000.00,6000000.00
6,2012,1529,291771883.00,190825.30,-750000.00,10000000.00
7,2014,2341,201218838.00,85954.22,-10200.00,16000000.00
8,2016,4143,722705756.00,174440.20,-226800.00,11000000.00
9,2018,6033,665768670.00,110354.50,-54000.00,20000000.00
10,2020,1108,72061769.00,65037.70,-5400.00,5000000.00

In [5]:
%%sql
select d.id as donor_id,
       d.name as donor_name,
       count(*) contribs,
       sum(dcx.transaction_amt) total_amount,
       round(avg(dcx.transaction_amt), 2) avg_amount,
       max(dcx.transaction_amt) max_amount,
       array_agg(distinct dcx.elect_cycle) as elect_cycles,
       round(sum(dcx.transaction_amt) / count(distinct dcx.elect_cycle), 2) avg_cycle_amount
  from ctx_donor_contrib dcx
  join donor_indiv d on d.id = dcx.donor_indiv_id
 group by 1, 2
 order by 4 desc
 limit 50

 * postgresql+psycopg2://crash@localhost/fecdb
50 rows affected.

,donor_id,donor_name,contribs,total_amount,avg_amount,max_amount,elect_cycles,avg_cycle_amount
0,11612429,"STEYER, THOMAS",288,259466083.00,900923.90,16000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",23587825.73
1,70790,"ADELSON, SHELDON",521,163010720.00,312880.46,15000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",14819156.36
2,1076630,"BLOOMBERG, MICHAEL",368,162000273.00,440218.13,20000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",14727297.55
3,70692,"ADELSON, MIRIAM",449,148007082.00,329637.15,15000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",13455189.27
4,3535137,"EYCHANER, FRED",602,80924450.00,134426.00,5000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",7356768.18
5,7961557,"MCMAHON, LINDA",197,75964481.00,385606.50,6000000.00,"[2004, 2006, 2010, 2012, 2014, 2016, 2020]",10852068.71
6,12286548,"UIHLEIN, RICHARD",1111,73472265.00,66131.65,3500000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",6679296.82
7,10804004,"SCOTT, RICK",169,69942510.00,413861.01,7450000.00,[2018],69942510.00
8,11121369,"SIMONS, JAMES",404,54242910.00,134264.63,4000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",4931173.64
9,11141923,"SINGER, PAUL",823,53184692.00,64622.96,2500000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",4834972.00
10,8080147,"MERCER, ROBERT",503,43937007.00,87349.91,11000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",3994273.36
11,4651340,"GRIFFIN, KEN",497,41749152.00,84002.32,5000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",3795377.45
12,9362471,"PERRY, BOB",185,41574400.00,224726.49,3000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014]",5196800.00
13,11382167,"SOROS, GEORGE",374,40709522.00,108848.99,6000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",3700865.64
14,12201430,"TRONE, DAVID",226,32639350.00,144421.90,2750000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",2967213.64
15,11105777,"SIMMONS, HAROLD",324,32299406.00,99689.52,5000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014]",4037425.75
16,11779646,"SUSSMAN, DONALD",26,31566200.00,1214084.62,3000000.00,"[2012, 2016, 2018, 2020]",7891550.00
17,10047670,"RICKETTS, MARGARET",209,29364362.00,140499.34,3935000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",2669487.45
18,11780360,"SUSSMAN, S. D.",807,29201900.00,36185.75,3500000.00,"[2016, 2018, 2020]",9733966.67
19,5205673,"HENDRICKS, DIANE",206,29158212.00,141544.72,5000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",2650746.55
20,7532345,"MARCUS, BERNARD",624,28902492.00,46318.10,3000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",2627499.27
21,10455728,"SABAN, HAIM",421,27681502.00,65751.79,7000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",2516500.18
22,2948347,"DEWHURST, DAVID",50,27169949.00,543398.98,3000000.00,"[2000, 2002, 2004, 2008, 2012, 2016, 2018]",3881421.29
23,11571338,"STEPHENS, WARREN",424,23938187.00,56457.99,1250000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",2176198.82
24,7976800,"MCNAIR, ROBERT",295,23718670.00,80402.27,2000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",2371867.00
25,4597614,"GREENE, JEFF",81,23708786.00,292701.06,2138307.00,"[2010, 2012, 2014, 2016, 2018]",4741757.20
26,10047475,"RICKETTS, J. JOE",38,22967175.00,604399.34,5486382.00,"[2010, 2012, 2014, 2016, 2018]",4593435.00
27,9770455,"RAESE, JOHN",92,21225550.00,230712.50,2130000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1929595.45
28,8480399,"MOSKOVITZ, DUSTIN",38,21204250.00,558006.58,2500000.00,"[2014, 2016, 2018]",7068083.33
29,12215200,"TRUMP, DONALD",403,19861257.00,49283.52,10000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1986125.70
30,1726060,"CAMERON, RON",579,19561922.00,33785.70,5000000.00,"[2004, 2008, 2010, 2012, 2014, 2016, 2018, 2020]",2445240.25
31,8730479,"NEUGEBAUER, TOBY",4,19067466.00,4766866.50,10000000.00,[2016],19067466.00
32,10777831,"SCHWARZMAN, STEPHEN",481,18774485.00,39032.19,5000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1706771.36
33,7533066,"MARCUS, GEORGE",328,18424760.00,56173.05,2000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1674978.18
34,13260803,"YASS, JEFF",547,16474832.00,30118.52,2098000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1497712.00
35,11306452,"SMITH, THOMAS",104,16462046.00,158288.90,10000000.00,"[2002, 2004, 2006, 2008, 2010, 2012, 2014, 201...",1829116.22
36,11382168,"SOROS, GEORGE",143,15677164.00,109630.52,5000000.00,"[2002, 2004, 2006, 2010, 2012, 2016, 2018, 2020]",1959645.50
37,2048043,"CHILDS, JOHN",483,15111439.00,31286.62,1000000.00,"[2008, 2010, 2012, 2014, 2016, 2018, 2020]",2158777.00
38,10539712,"SANDLER, HERB",72,14738816.00,204705.78,2505014.00,"[2004, 2008, 2010, 2012, 2014, 2016, 2018, 2020]",1842352.00
39,6756118,"LAMONT, EDWARD",180,14450271.00,80279.28,2000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1445027.10
40,11113619,"SIMON, DEBBIE",1539,14343015.00,9319.70,1500000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1434301.50
41,403996,"ASSOCIATION, NATIONAL EDUCATION",4,14160848.00,3540212.00,6000000.00,"[2014, 2016]",7080424.00
42,9126354,"PALMER, GEOFF",47,13676072.00,290980.26,2000000.00,"[2000, 2008, 2016, 2018, 2020]",2735214.40
43,12640168,"WARREN, KELCY",122,13647293.00,111863.06,5000000.00,"[2008, 2010, 2012, 2014, 2016, 2018, 2020]",1949613.29
44,10761130,"SCHWAB, CHARLES",489,13554401.00,27718.61,3000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1232218.27
45,2802689,"DEASON, DARWIN",157,13346455.00,85009.27,5000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1213314.09
46,10945273,"SHAW, DAVID",387,12746389.00,32936.41,1000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1158762.64
47,10765947,"SCHWARTZ, BERNARD",358,12731463.00,35562.75,1000000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1157405.73
48,9297372,"PEDERSON, JAMES",393,12420968.00,31605.52,2500000.00,"[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201...",1129178.91
49,13175315,"WOODS, LAURE",458,11881758.00,25942.70,1691421.00,"[2014, 2016, 2018, 2020]",2970439.50

In [6]:
%%sql
select d.id as donor_id,
       d.name as donor_name,
       dcx.elect_cycle,
       count(*) cycle_contribs,
       sum(dcx.transaction_amt) cycle_total_amount,
       round(avg(dcx.transaction_amt), 2) cycle_avg_amount,
       max(dcx.transaction_amt) cycle_max_amount
  from ctx_donor_contrib dcx
  join donor_indiv d on d.id = dcx.donor_indiv_id
 group by 1, 2, 3
 order by 5 desc
 limit 50

 * postgresql+psycopg2://crash@localhost/fecdb
50 rows affected.

,donor_id,donor_name,elect_cycle,cycle_contribs,cycle_total_amount,cycle_avg_amount,cycle_max_amount
0,1076630,"BLOOMBERG, MICHAEL",2018,56,95110857.00,1698408.16,20000000.00
1,11612429,"STEYER, THOMAS",2016,69,89988044.00,1304174.55,11000000.00
2,11612429,"STEYER, THOMAS",2014,27,78845867.00,2920217.30,16000000.00
3,11612429,"STEYER, THOMAS",2018,59,73089512.00,1238805.29,13504144.00
4,10804004,"SCOTT, RICK",2018,169,69942510.00,413861.01,7450000.00
5,70790,"ADELSON, SHELDON",2018,117,61971800.00,529673.50,15000000.00
6,70692,"ADELSON, MIRIAM",2018,117,61757400.00,527841.03,15000000.00
7,7961557,"MCMAHON, LINDA",2010,144,53107350.00,368801.04,6000000.00
8,70790,"ADELSON, SHELDON",2012,61,51023525.00,836451.23,5000000.00
9,70692,"ADELSON, MIRIAM",2012,50,46626900.00,932538.00,5000000.00
10,70790,"ADELSON, SHELDON",2016,113,43546400.00,385366.37,10000000.00
11,12286548,"UIHLEIN, RICHARD",2018,327,38716161.00,118398.05,3500000.00
12,70692,"ADELSON, MIRIAM",2016,111,38690900.00,348566.67,10000000.00
13,3535137,"EYCHANER, FRED",2016,152,37909304.00,249403.32,5000000.00
14,1076630,"BLOOMBERG, MICHAEL",2014,81,28501929.00,351875.67,2500000.00
15,2948347,"DEWHURST, DAVID",2012,42,27151049.00,646453.55,3000000.00
16,11141923,"SINGER, PAUL",2016,253,26121853.00,103248.43,2500000.00
17,11105777,"SIMMONS, HAROLD",2012,66,25783900.00,390665.15,5000000.00
18,1076630,"BLOOMBERG, MICHAEL",2016,51,23763724.00,465955.37,8500000.00
19,12286548,"UIHLEIN, RICHARD",2016,253,23652800.00,93489.33,2000000.00
20,4597614,"GREENE, JEFF",2010,56,23538068.00,420322.64,2138307.00
21,8080147,"MERCER, ROBERT",2016,138,22985400.00,166560.87,11000000.00
22,11121369,"SIMONS, JAMES",2016,60,22650300.00,377505.00,3500000.00
23,5205673,"HENDRICKS, DIANE",2016,27,22405300.00,829825.93,5000000.00
24,9362471,"PERRY, BOB",2012,46,22388400.00,486704.35,3000000.00
25,10047670,"RICKETTS, MARGARET",2016,41,21097571.00,514574.90,3935000.00
26,11779646,"SUSSMAN, DONALD",2016,18,21016200.00,1167566.67,3000000.00
27,11382167,"SOROS, GEORGE",2016,64,20622411.00,322225.17,6000000.00
28,4651340,"GRIFFIN, KEN",2018,103,19447200.00,188807.77,5000000.00
29,8730479,"NEUGEBAUER, TOBY",2016,4,19067466.00,4766866.50,10000000.00
30,11121369,"SIMONS, JAMES",2018,212,18812110.00,88736.37,4000000.00
31,12215200,"TRUMP, DONALD",2016,140,18673157.00,133379.69,10000000.00
32,12201430,"TRONE, DAVID",2018,102,18053011.00,176990.30,2750000.00
33,11612429,"STEYER, THOMAS",2020,9,16991360.00,1887928.89,3303000.00
34,11306452,"SMITH, THOMAS",2012,55,16296096.00,296292.65,10000000.00
35,7961557,"MCMAHON, LINDA",2012,35,15785431.00,451012.31,3300000.00
36,8480399,"MOSKOVITZ, DUSTIN",2016,16,15527100.00,970443.75,2500000.00
37,12201430,"TRONE, DAVID",2016,53,14262539.00,269104.51,2500000.00
38,3535137,"EYCHANER, FRED",2012,44,14201800.00,322768.18,2000000.00
39,6756118,"LAMONT, EDWARD",2006,34,14000978.00,411793.47,2000000.00
40,4651340,"GRIFFIN, KEN",2016,190,13762560.00,72434.53,2500000.00
41,1076630,"BLOOMBERG, MICHAEL",2012,91,13703973.00,150593.11,4500000.00
42,7532345,"MARCUS, BERNARD",2016,117,13600125.00,116240.38,3000000.00
43,11571338,"STEPHENS, WARREN",2016,124,13526787.00,109086.99,1000000.00
44,9770455,"RAESE, JOHN",2010,20,13226200.00,661310.00,2130000.00
45,10047475,"RICKETTS, J. JOE",2012,14,12866554.00,919039.57,5486382.00
46,10777831,"SCHWARZMAN, STEPHEN",2018,146,12665000.00,86746.58,5000000.00
47,11780360,"SUSSMAN, S. D.",2018,440,12604900.00,28647.50,3500000.00
48,403996,"ASSOCIATION, NATIONAL EDUCATION",2016,3,12175000.00,4058333.33,6000000.00
49,11780360,"SUSSMAN, S. D.",2016,245,11979300.00,48895.10,2000000.00