# Candidate Master &ndash; Data Quality #

## Overview ##

Candidates in the FEC data set have a unique ID assigned to them.  However, since we are combining Candidate records from multiple election cycle source files, we really should join to `cand` using both `cand_id` and `elect_cycle`.  The purpose of this notebook is to explore to "quality" of the Candidate data both within and across election cycles to see how consistent it is, and whether (and how) we can create a unified Candidate Master entity to improve referential integrity for the larger, complete data set.

## Notebook Setup ##

### Configure database connect info/options ###

Note: database connect string can be specified on the initial `%sql` command:

```python
database_url = "postgresql+psycopg2://user@localhost/fecdb"
%sql $database_url

```

Or, connect string is taken from DATABASE_URL environment variable (if not specified for `%sql`):

```python
%sql

```

In [1]:
%load_ext sql
%config SqlMagic.autopandas=True
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'
# connect string taken from DATABASE_URL environment variable
%sql

'Connected: crash@fecdb'

### Configure Python modules ###

In [2]:
import pandas as pd

pd.set_option("display.max_rows", 200)

### Set styling ###

In [3]:
%%html
<style>
  tr, th, td {
    text-align: left !important;
  }
</style>

## Examine Constitution of Candidate Data ##

### High-level summary ###

First count total records and distinct `cand_id`'s (and save out results for reference)

In [4]:
%%sql result <<
select count(*) as count_total,
       count(distinct cand_id) as count_distinct
  from cand

 * postgresql+psycopg2://crash@caladan/fecdb
1 rows affected.
Returning data to local variable result

In [5]:
cand_count_total  = int(result.loc[0][0])
cand_distinct_ids = int(result.loc[0][1])
"cand_count_total = %d, cand_distinct_ids = %d" % (cand_count_total, cand_distinct_ids)

'cand_count_total = 56615, cand_distinct_ids = 26243'

### Quality of Candidate Names (`cand_name`) ###

Let's try and get a sense of the extent of formatting problems (inconsistencies or flaws).  First look for names that have lowercase letters (uppercase is now the standard)...

In [6]:
%%sql
select elect_cycle,
       count(*)
  from cand
 where cand_name ~ '[a-z]'
 group by 1
 order by 1

 * postgresql+psycopg2://crash@caladan/fecdb
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [7]:
%%sql
select cand_name,
       array_agg(distinct elect_cycle)
  from cand
 where cand_name ~ '[a-z]'
 group by 1
 order by 1

 * postgresql+psycopg2://crash@caladan/fecdb
0 rows affected.

Empty DataFrame
Columns: []
Index: []

Next, look for names with consecutive whitespace...

In [8]:
%%sql
select elect_cycle,
       count(*)
  from cand
 where cand_name ~ '\s{2,}'
 group by 1
 order by 1

 * postgresql+psycopg2://crash@caladan/fecdb
10 rows affected.

   elect_cycle  count
0         2000      1
1         2004      6
2         2006      8
3         2008     10
4         2010      8
5         2012     14
6         2014     14
7         2016     17
8         2018     18
9         2020      4

In [9]:
%%sql
select cand_name,
       array_agg(distinct elect_cycle)
  from cand
 where cand_name ~ '\s{2,}'
 group by 1
 order by 1
 limit 50

 * postgresql+psycopg2://crash@caladan/fecdb
43 rows affected.

                            cand_name                             array_agg
0                AYYADURAI, SHIVA  DR                                [2018]
1             BARLOW, PAMELA LEE  DVM                    [2012, 2014, 2016]
2                  BEATTY, JEFFREY  K                          [2006, 2008]
3        BISHOP, RONALD HUBERT  JR MR                                [2018]
4   BOYCE, HENRY CHARLES  "CHUCK"  JR                          [2018, 2020]
5                          BOYD,  JIM                                [2004]
6      BOYD JR, WILLIE "WILL"  EUGENE                                [2018]
7                   BURNS, NEIL  PAUL              [2012, 2014, 2016, 2018]
8               BYRD, JOSEPH H  "JOE"                                [2004]
9                CHURCHILL, ROBERT  W                          [2006, 2008]
10          CONAWAY, K. MICHAEL  HON.                                [2006]
11           CRUZ, RAFAEL EDWARD  TED                          [2018, 2020]
12         CUSHING, WILLIAM  (BILL) P        [2010, 2012, 2014, 2016, 2018]
13                    DAVIS, ARTUR  G                                [2008]
14        DE  LA  FUENTE, ROQUE ROCKY                    [2016, 2018, 2020]
15            DITTMAN, MEGAYN  ASHLEE                          [2016, 2018]
16             FENNER, CHRISTOPHER  G                    [2004, 2006, 2008]
17                FREE,  KALYN CHERIE                                [2010]
18             GEORGE, MICHAEL  LOUIS                                [2012]
19            GRAVES, SAMUEL B  (SAM)                                [2004]
20          GRIMES, ALISON  LUNDERGAN                    [2014, 2016, 2018]
21          GUTKNECHT, GILBERT  W JR.                          [2006, 2008]
22                     HART, LINDA  J                          [2016, 2018]
23                     HOLT , RUSH  D                                [2006]
24                   INMAN, JOSEPH  F                                [2008]
25          KLINE, RICHARD  ALLEN CGR              [2010, 2012, 2014, 2016]
26              KRAWCHUK, KENNETH  V.                                [2000]
27                   MARKS, MEYER   F  [2008, 2010, 2012, 2014, 2016, 2018]
28        MCGEHEARTY, PATRICK  FABIAN                    [2012, 2014, 2016]
29      MCKELLAR, SHIRLEY JONETTA  DR        [2012, 2014, 2016, 2018, 2020]
30                MEGALLY, MEGALLY  Z        [2008, 2010, 2012, 2014, 2016]
31             MIMS, TIFFANI  EL DAWN        [2010, 2012, 2014, 2016, 2018]
32                 PAASCH,  BRIAN MR.                          [2012, 2014]
33      PASCRELL, WILLIAM  J HON. JR.                                [2008]
34               RATY, TIMOTHY  AARON                                [2016]
35     RICHARDSON, ISRAEL  K GARTH DR        [2010, 2012, 2014, 2016, 2018]
36          SUNTHONCHART, PAIBOON  JR              [2012, 2014, 2016, 2018]
37             TOGNAZZINI, VICTOR  D.                          [2006, 2008]
38                 TOMPKINS, LINDA  A                          [2004, 2006]
39                 VRBACH, MARC  ALAN                          [2016, 2018]
40            WELLER, GERALD C  JERRY                                [2004]
41            WITHINGTON, RICHARD B                            [2012, 2014]
42    WITHINGTON, RICHARD B  ''DICK''                          [2010, 2018]

### Integrity of Candidate ID (`cand_id`) ###

Count records across election cycles and see if we have any null `cand_id`'s (all zeros would be good)

In [10]:
%%sql
select elect_cycle,
       count(*)                  as records,
       count(*) - count(cand_id) as null_cand_ids
  from cand
 group by 1
 order by 1

 * postgresql+psycopg2://crash@caladan/fecdb
11 rows affected.

    elect_cycle  records  null_cand_ids
0          2000     4529              0
1          2002     3944              0
2          2004     3814              0
3          2006     3704              0
4          2008     4072              0
5          2010     5126              0
6          2012     5628              0
7          2014     5536              0
8          2016     7641              0
9          2018     7590              0
10         2020     5031              0

Let's see if there are any duplicate `cand_id`'s in any election cycles

In [11]:
%%sql
with dup_cand_id as (
    select elect_cycle,
           cand_id,
           count(*) as id_count
      from cand
     group by 1, 2
    having count(*) > 1
)
select elect_cycle,
       count(*) as dupes,
       sum(id_count) as total_dupe_ids,
       max(id_count) as max_dupe_ids
  from dup_cand_id
 group by 1

 * postgresql+psycopg2://crash@caladan/fecdb
0 rows affected.

Empty DataFrame
Columns: []
Index: []

Now let's look at repeated `cand_id`'s across election cycles (note that specifying `distinct` within `array_agg` is a tricky way of sorting the values, for consistency, if we care to group by that field)

In [12]:
%%sql
with cand_id_sum as (
    select cand_id,
           count(*) as ec_count,
           array_agg(distinct elect_cycle) as elect_cycles
      from cand
     group by 1
)
select ec_count,
       count(*) as cand_ids,
       round(count(*)::numeric / :cand_distinct_ids * 100.0, 2) as pct_cand_ids
  from cand_id_sum
 group by 1
 order by 1 desc

 * postgresql+psycopg2://crash@caladan/fecdb
11 rows affected.

    ec_count  cand_ids pct_cand_ids
0         11       214         0.82
1         10        99         0.38
2          9       134         0.51
3          8       198         0.75
4          7       260         0.99
5          6       521         1.99
6          5       949         3.62
7          4      1259         4.80
8          3      2586         9.85
9          2      7973        30.38
10         1     12050        45.92

### Consistency of names for `cand_id`'s across election cycles ###

In [13]:
%%sql
with cand_diff_names as (
    select cand_id,
           count(distinct cand_name)     as num_diff_names,
           array_agg(distinct cand_name) as diff_names
      from cand
     group by 1
    having count(distinct cand_name) > 1
)
select num_diff_names,
       count(*) as cand_ids,
       round(count(*)::numeric / :cand_distinct_ids * 100.0, 2) as pct_cand_ids
  from cand_diff_names
 group by 1
 order by 1

 * postgresql+psycopg2://crash@caladan/fecdb
5 rows affected.

   num_diff_names  cand_ids pct_cand_ids
0               2      1245         4.74
1               3       200         0.76
2               4        53         0.20
3               5        10         0.04
4               7         1         0.00

Get an idea of what the different names associated with the same `cand_id` look like&mdash;let's start with a sampling of Candidate IDs with `num_diff_names` = 2 (compare adjacent `cand_name`'s)...

In [14]:
%%sql
with cand_diff_names as (
    select cand_id,
           count(distinct cand_name)     as num_diff_names,
           array_agg(distinct cand_name) as diff_names
      from cand
     group by 1
    having count(distinct cand_name) = 2
)
select cand_id,
       unnest(diff_names) as cand_name
  from cand_diff_names
 order by cand_id
 limit 50

 * postgresql+psycopg2://crash@caladan/fecdb
50 rows affected.

      cand_id                    cand_name
0   H0AK00097                 COX, JOHN R.
1   H0AK00097             COX, JOHN ROBERT
2   H0AL07086             SEWELL, TERRI A.
3   H0AL07086     SEWELL, TERRYCINA ANDREA
4   H0AL07177             CHAMBERLAIN, DON
5   H0AL07177  CHAMBERLAIN, DONALD NORWOOD
6   H0AR04038              ROSS, MICHAEL A
7   H0AR04038          ROSS, MICHAEL AVERY
8   H0AS00018            FALEOMAVAEGA, ENI
9   H0AS00018        FALEOMAVAEGA, ENI F H
10  H0AZ01325         TOBIN, ANDREW (ANDY)
11  H0AZ01325             TOBIN, ANDY HON.
12  H0CA02104            MARTIN, CHARLES R
13  H0CA02104           MARTIN, CHARLES R.
14  H0CA06071            BARTON, RICHARD O
15  H0CA06071           BARTON, RICHARD O.
16  H0CA06121             ROBERTS, DANIEL
17  H0CA06121            ROBERTS, DANIEL W
18  H0CA10115               VANGUNDY, GINO
19  H0CA10115             VANGUNDY, GINO W
20  H0CA11022             LANTOS, THOMAS P
21  H0CA11022                  LANTOS, TOM
22  H0CA11337            AMADOR, ANTONIO C
23  H0CA11337       AMADOR, ANTONIO CANDIA
24  H0CA13051             GRUNDMANN, DON J
25  H0CA13051            GRUNDMANN, DON J.
26  H0CA15148        HONDA, MICHAEL MAKOTO
27  H0CA15148                  HONDA, MIKE
28  H0CA15171           SIMITIAN, S JOSEPH
29  H0CA15171          SIMITIAN, S. JOSEPH
30  H0CA17185             KABAT, RONALD P.
31  H0CA17185           KABAT, RONALD PAUL
32  H0CA19082            HERNANDEZ, JOHN S
33  H0CA19082      HERNANDEZ, JOHN STEPHEN
34  H0CA28083           WEISSBUCH, RANDALL
35  H0CA28083        WEISSBUCH, RANDALL G.
36  H0CA28117              VALDEZ, RICHARD
37  H0CA28117            VALDEZ, RICHARD A
38  H0CA30055                   GOSS, TONY
39  H0CA30055                GOSS, TONY D.
40  H0CA31095             MCGUIRE, MICHAEL
41  H0CA31095      MCGUIRE, MICHAEL (MICK)
42  H0CA38082                GRUWELL, ERIN
43  H0CA38082            GRUWELL, ERIN JAY
44  H0CA39072                  GANN, KEITH
45  H0CA39072               GANN, KEITH D.
46  H0CA43066               COLLEN, MARTIN
47  H0CA43066             COLLEN, MARTIN J
48  H0CA45061          THIBODEAU, CLAYTON
49  H0CA45061       THIBODEAU, CLAYTON DEL

Now, let's look at `num_diff_names` = 3...

In [15]:
%%sql
with cand_diff_names as (
    select cand_id,
           count(distinct cand_name)     as num_diff_names,
           array_agg(distinct cand_name) as diff_names
      from cand
     group by 1
    having count(distinct cand_name) = 3
)
select cand_id,
       unnest(diff_names) as cand_name
  from cand_diff_names
 order by cand_id
 limit 51

 * postgresql+psycopg2://crash@caladan/fecdb
51 rows affected.

      cand_id                              cand_name
0   H0AL07060                         DAVIS, ARTUR G
1   H0AL07060                        DAVIS, ARTUR  G
2   H0AL07060                  DAVIS, ARTUR GENESTRE
3   H0AZ01184                          FLAKE, JEFF L
4   H0AZ01184                        FLAKE, JEFF MR.
5   H0AZ01184                     FLAKE, JEFFRY LANE
6   H0AZ01259                    GOSAR, PAUL ANTHONY
7   H0AZ01259            GOSAR, PAUL ANTHONY ANTHONY
8   H0AZ01259                        GOSAR, PAUL DR.
9   H0AZ04501                          PENALOSA, JOE
10  H0AZ04501                         PENALOSA, JOSE
11  H0AZ04501                 PENALOSA, JOSE LUIS JR
12  H0CA14042                        DOOLITTLE, JOHN
13  H0CA14042                      DOOLITTLE, JOHN T
14  H0CA14042                  DOOLITTLE, JOHN T REP
15  H0CA27101                            REED, MARK
16  H0CA27101                   REED, MARK STEVEN SR
17  H0CA27101              REED SR., MARK STEVEN SR.
18  H0CA45012                      CUNNINGHAM, RANDY
19  H0CA45012                 CUNNINGHAM, RANDY DUKE
20  H0CA45012               CUNNINGHAM, RANDY "DUKE"
21  H0CA49055                           DAVIS, SUSAN
22  H0CA49055                         DAVIS, SUSAN A
23  H0CA49055                        DAVIS, SUSAN A.
24  H0CT03072                        DELARUO, ROSA L
25  H0CT03072                          DELAURO, ROSA
26  H0CT03072                        DELAURO, ROSA L
27  H0DC00215        LEE, MICHAEL AGUSTUS (MATTHEW)
28  H0DC00215  LEE, MICHAEL AGUSTUS (MATTHEW) DR ESQ
29  H0DC00215        LEE, MICHAEL AUGUSTUS (MATTHEW)
30  H0FL02086                LAWSON, ALFRED 'AL' JR.
31  H0FL02086                    LAWSON, ALFRED J JR
32  H0FL02086                      LAWSON, ALFRED JR
33  H0FL08042                      KELLER, RICHARD A
34  H0FL08042                     KELLER, RICHARD A.
35  H0FL08042                KELLER, RICHARD ANTHONY
36  H0ID01139                       OTTER, C L BUTCH
37  H0ID01139                      OTTER, C.L. BUTCH
38  H0ID01139                   OTTER, CLEMENT LEROY
39  H0IL10302             DOLD JR., ROBERT JAMES MR.
40  H0IL10302                  DOLD, ROBERT JAMES JR
41  H0IL10302               DOLD, ROBERT JAMES MR JR
42  H0LA02119                  JEFFERSON, WILLIAM J.
43  H0LA02119            JEFFERSON, WILLIAM JENNINGS
44  H0LA02119                  JEFFERSON, WILLIAM MR
45  H0LA03018                   TAUZIN, WILBERT J II
46  H0LA03018                      TAUZIN, W J BILLY
47  H0LA03018                    TAUZIN, W J "BILLY"
48  H0MI01088                     BENISHEK, DANIEL J
49  H0MI01088                    BENISHEK, DANIEL J.
50  H0MI01088               BENISHEK, DANIEL J. M.D.

And `num_diff_names` = 4...

In [16]:
%%sql
with cand_diff_names as (
    select cand_id,
           count(distinct cand_name)     as num_diff_names,
           array_agg(distinct cand_name) as diff_names
      from cand
     group by 1
    having count(distinct cand_name) = 4
)
select cand_id,
       unnest(diff_names) as cand_name
  from cand_diff_names
 order by cand_id
 limit 52

 * postgresql+psycopg2://crash@caladan/fecdb
52 rows affected.

      cand_id                        cand_name
0   H0AL05049           CRAMER, ROBERT E "BUD"
1   H0AL05049        CRAMER, ROBERT E "BUD" JR
2   H0AL05049   CRAMER, ROBERT EDWARD "BUD" JR
3   H0AL05049     CRAMER, ROBERT EDWARD BUD JR
4   H0CA48024                    ISSA, DARRELL
5   H0CA48024                   ISSA, DARRELL
6   H0CA48024                  ISSA, DARRELL E
7   H0CA48024             ISSA, DARRELL EDWARD
8   H0FL04066                  CRENSHAW, ANDER
9   H0FL04066              CRENSHAW, ANDER HON
10  H0FL04066             CRENSHAW, ANDER HON.
11  H0FL04066            CRENSHAW, ANDER M HON
12  H0GA08032             MARSHALL, JAME CREEL
13  H0GA08032                MARSHALL, JAMES C
14  H0GA08032            MARSHALL, JAMES C JIM
15  H0GA08032                    MARSHALL, JIM
16  H0ID01253                   LABRADOR, RAUL
17  H0ID01253            LABRADOR, RAUL RAFAEL
18  H0ID01253           LABRADOR, RAUL R. HON.
19  H0ID01253           LABRADOR, RAUL R. REP.
20  H0LA01087               SCALISE, STEPHEN J
21  H0LA01087  SCALISE, STEPHEN JOSEPH "STEVE"
22  H0LA01087                SCALISE, STEVE MR
23  H0LA01087               SCALISE, STEVE MR.
24  H0PA07082                MEEHAN, PATRICK L
25  H0PA07082            MEEHAN, PATRICK L. MR
26  H0PA07082           MEEHAN, PATRICK L. MR.
27  H0PA07082       MEEHAN, PATRICK L. MR. JR.
28  H0RI02139                LANGEVIN, JAMES R
29  H0RI02139    LANGEVIN, JAMES R CONGRESSMAN
30  H0RI02139      LANGEVIN, JAMES R HONORABLE
31  H0RI02139     LANGEVIN, JAMES R. HONORABLE
32  H0SC01071                BROWN, HENRY E JR
33  H0SC01071               BROWN, HENRY E JR.
34  H0SC01071              BROWN, HENRY E. JR.
35  H0SC01071           BROWN, HENRY E JR. JR.
36  H0UT02096                  MATHESON, JAMES
37  H0UT02096                MATHESON, JAMES D
38  H0UT02096            MATHESON, JAMES DAVID
39  H0UT02096                MATHESON, JIM MR.
40  H2AL06035             BACHUS, SPENCER REP.
41  H2AL06035                BACHUS, SPENCER T
42  H2AL06035               BACHUS, SPENCER T.
43  H2AL06035            BACHUS, SPENCER T III
44  H2AZ08102                  MCSALLY, MARTHA
45  H2AZ08102                MCSALLY, MARTHA E
46  H2AZ08102            MCSALLY, MARTHA E MS.
47  H2AZ08102           MCSALLY, MARTHA E. MS.
48  H2CA37023                     CALVERT, KEN
49  H2CA37023               CALVERT, KENNETH S
50  H2CA37023           CALVERT, KENNETH S MR.
51  H2CA37023         CALVERT, KENNETH STANTON

### Multiple `cand_id`'s for identical names &ndash; within election cycles ###

In [17]:
%%sql
with shared_cand_name as (
    select elect_cycle,
           cand_name,
           count(*) as num_shares
      from cand
     group by 1, 2
    having count(*) > 1
)
select num_shares,
       count(*) as shared_names
  from shared_cand_name
 group by 1
 order by 1 desc

 * postgresql+psycopg2://crash@caladan/fecdb
4 rows affected.

   num_shares  shared_names
0           5             2
1           4             5
2           3            41
3           2          1035

In [18]:
%%sql
with shared_cand_name as (
    select elect_cycle,
           cand_name,
           count(*) as num_shares,
           array_agg(distinct cand_id) as cand_ids
      from cand
     group by 1, 2
    having count(*) > 2
)
select cand_name,
       array_length(cand_ids, 1) num_cand_ids,
       cand_ids,
       array_agg(elect_cycle) as elect_cycles
  from shared_cand_name
 group by 1, 3
 order by array_length(cand_ids, 1) desc, count(*) desc, cand_name

 * postgresql+psycopg2://crash@caladan/fecdb
36 rows affected.

,cand_name,num_cand_ids,cand_ids,elect_cycles
0,"DE LA FUENTE, ROQUE ""ROCKY""",5,"[S8FL00299, S8MN00719, S8VT00166, S8WA00384, S...",[2018]
1,"GRAYSON, RICHARD",5,"[H6ID02191, H6WA08118, H6WY01033, H8AZ06012, S...",[2016]
2,"BRYK, WILLIAM",4,"[H2IN08136, S0ID00099, S2WY00091, S4OR00214]",[2014]
3,"FARRIS, JADEN THOMAS MR.",4,"[H0MD05175, P00009266, P00009928, S2MD00511]",[2020]
4,"HAMBURG, AL",4,"[H6WY00050, P00003277, S0NE00056, S4WY00030]",[2000]
5,"MAGEE, ERIN KENT",4,"[H4FL25014, H4IN07175, P20002648, S4TN00419]",[2014]
6,"MARTIN, ANDY",4,"[H6NH02196, P00003731, S4IL00362, S4NH00096]",[2016]
7,"KALEMKARIAN, TIMOTHY CHARLES",3,"[H0CA23043, P60003175, S6CA00477]","[2000, 2002, 2004, 2006, 2008, 2010, 2012, 201..."
8,"WELLS, TOM",3,"[H6FL01069, P00003160, S4FL00421]","[2004, 2006, 2008]"
9,"KOPSICK, JOSEPH WILLIAM",3,"[H2WI02116, H4OR03119, H6IL10150]","[2016, 2018]"
10,"WINTERS, GARY THOMAS",3,"[H0NY00030, P00004572, S0NY00261]","[2000, 2002]"
11,"BOND, TANYA ELIZABETH DR REV",3,"[H8PA03100, P80005325, S8PA00221]",[2008]
12,"BOSS, JEFF",3,"[H0NJ33010, H6NJ09249, S8NJ00418]",[2016]
13,"BOSS, JEFF",3,"[H0NJ33010, P80005077, S8NJ00418]",[2012]
14,"BRYK, WILLIAM",3,"[H2IN08136, S0ID00099, S2WY00091]",[2012]
15,"CARTER, JERRY DEAN",3,"[S8CO00198, S8ID00084, S8WY00148]",[2008]
16,"DE LA FUENTE, RICARDO",3,"[H7CA34029, H8CA34274, H8FL24067]",[2018]
17,"DE LA FUENTE, ROQUE ROCKY",3,"[S8CA00598, S8DE00178, S8RI00151]",[2018]
18,"EVANS, MERVIN LEON",3,"[H0CA33109, H4CA29026, S4CA00191]",[2014]
19,"GRAYSON, RICHARD",3,"[H4WY00170, H8AZ06012, S2AZ00158]",[2014]
20,"HAFNER, CAROL",3,"[H0WY01010, H8AK01023, P80006091]",[2020]
21,"JOHNSON, TIM",3,"[H0IL15053, H4WI04217, S6SD00051]",[2004]
22,"LAROSE, JOSUE",3,"[H0FL19056, P60004777, S2FL00185]",[2010]
23,"MACK, CONNIE",3,"[H2FL10051, H4FL14059, S8FL00034]",[2006]
24,"MARTIN, ANDY",3,"[H6NH02196, S4IL00362, S4NH00096]",[2018]
25,"MARTIN, ANDY",3,"[P00003731, S4IL00362, S4NH00096]",[2014]
26,"MICHAELS, DANIEL TRAVIS",3,"[H2FL09145, P20005195, S2FL00417]",[2012]
27,"SAGOO, GURPINDER SINGH",3,"[H2CA01169, P20005443, S0CA00447]",[2020]
28,"SCHIESS, JOHN T",3,"[H4WI07103, P60005170, S2WI00193]",[2014]
29,"SHEPARD, JACK",3,"[H4MN04082, P80004021, S2MN00159]",[2008]
30,"TURNER, JOE",3,"[H0TX01082, H8TX26041, P00003939]",[2000]
31,"WALLS-WINDHAUSER, ANGELA MARIE",3,"[P00008987, S0FL00601, S6FL00442]",[2020]
32,"WEIL, RICHARD LYONS",3,"[H8CO04109, P00008110, P60007119]",[2018]
33,"WILLIAMS, STEVE",3,"[H6MN01182, H6NY24185, H8WV03089]",[2018]
34,"WOODS, CHARLES",3,"[H0AL02061, S2NV00118, S6AL00211]",[2000]
35,"WOODS, CHARLES",3,"[H0AL02061, H2AL02125, S6AL00211]",[2002]

In [19]:
%%sql
with shared_cand_name as (
    select elect_cycle,
           cand_name,
           count(*) as num_shares,
           array_agg(distinct cand_id) as cand_ids
      from cand
     group by 1, 2
    having count(*) = 2
)
select cand_name,
       cand_ids,
       count(*) as num_elect_cycles,
       array_agg(elect_cycle) as elect_cycles
  from shared_cand_name
 group by 1, 2
 order by 3 desc, 1, 2
 limit 50

 * postgresql+psycopg2://crash@caladan/fecdb
50 rows affected.

,cand_name,cand_ids,num_elect_cycles,elect_cycles
0,"CARROLL, JERRY LEON","[P00000679, S2CA00591]",9,"[2002, 2004, 2006, 2010, 2012, 2014, 2016, 201..."
1,"KEYES, ALAN L","[P60003076, S4IL00404]",8,"[2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018]"
2,"CHERRICKS, LIZA DAWN","[H8DE00046, P80003890]",6,"[2008, 2010, 2012, 2014, 2016, 2018]"
3,"KUCINICH, DENNIS J","[H6OH23033, P40002545]",6,"[2004, 2006, 2008, 2010, 2012, 2014]"
4,"PIPKIN, E J","[H8MD01128, S4MD00152]",6,"[2008, 2010, 2012, 2014, 2016, 2018]"
5,"SPECTER, ARLEN","[P60003233, S6PA00100]",6,"[2000, 2002, 2004, 2006, 2008, 2010]"
6,"VAUGHN, CORROGAN R","[P80004237, S0MD00200]",6,"[2008, 2010, 2012, 2014, 2016, 2018]"
7,"BACHMANN, MICHELE","[H6MN06074, P20002978]",5,"[2012, 2014, 2016, 2018, 2020]"
8,"BALDWIN, TAMMY","[H8WI00018, S2WI00219]",5,"[2012, 2014, 2016, 2018, 2020]"
9,"BATES, DON JR","[H2IN06171, S0IN00111]",5,"[2012, 2014, 2016, 2018, 2020]"
10,"BELLIS, JOSEPH K III","[H8KS03072, S0KS00133]",5,"[2010, 2012, 2014, 2016, 2018]"
11,"CASTLE, MICHAEL N","[H2DE00072, S0DE00068]",5,"[2010, 2012, 2014, 2016, 2018]"
12,"CLINTON, HILLARY RODHAM","[P00003392, S0NY00188]",5,"[2006, 2008, 2010, 2012, 2014]"
13,"DAINES, STEVEN","[H2MT01060, S2MT00096]",5,"[2012, 2014, 2016, 2018, 2020]"
14,"DODD, CHRISTOPHER J","[P80003387, S0CT00037]",5,"[2006, 2008, 2010, 2012, 2014]"
15,"GOBERMAN, PAVEL","[H6OR01209, S4OR00065]",5,"[2006, 2008, 2010, 2012, 2014]"
16,"HELLER, DEAN","[H6NV02164, S2NV00183]",5,"[2012, 2014, 2016, 2018, 2020]"
17,"KASICH, JOHN R","[H2OH12027, P60003670]",5,"[2000, 2002, 2004, 2006, 2008]"
18,"KEAN, THOMAS H JR","[H0NJ07089, S6NJ00271]",5,"[2006, 2008, 2010, 2012, 2014]"
19,"KERRY, JOHN F","[P80000235, S4MA00069]",5,"[2002, 2004, 2006, 2010, 2012]"
20,"MARSHALL, ROBERT","[H0IL08033, S6IL00185]",5,"[2000, 2002, 2016, 2018, 2020]"
21,"STUTZMAN, MARLIN A","[H0IN03198, S0IN00095]",5,"[2010, 2012, 2014, 2016, 2018]"
22,"SWETT, KATRINA","[H0NH02215, S8NH00139]",5,"[2010, 2012, 2014, 2016, 2018]"
23,"WELCH, STEVEN D","[H0PA07074, S2PA00232]",5,"[2012, 2014, 2016, 2018, 2020]"
24,"BLUNT, ROY","[H6MO07128, S0MO00183]",4,"[2010, 2012, 2014, 2016]"
25,"COTTON, THOMAS","[H2AR04083, S4AR00103]",4,"[2014, 2016, 2018, 2020]"
26,"DENARI, STEVE","[H4IL14082, S8IL00116]",4,"[2000, 2002, 2004, 2006]"
27,"FRANKS, GARY A","[H0CT05085, S8CT00063]",4,"[2000, 2002, 2004, 2006]"
28,"GARDNER, CORY","[H0CO04122, S4CO00395]",4,"[2014, 2016, 2018, 2020]"
29,"KIRK, MARK STEVEN","[H0IL10120, S0IL00261]",4,"[2010, 2012, 2014, 2016]"
30,"LEVINE, MEL","[H2CA27016, S2CA00377]",4,"[2000, 2002, 2004, 2006]"
31,"MACK, CONNIE","[H4FL14059, S2FL00334]",4,"[2012, 2014, 2016, 2018]"
32,"MARSHALL, ROBERT G","[H4VA00049, S8VA00263]",4,"[2014, 2016, 2018, 2020]"
33,"OERTHER, BRIAN DOUGLAS","[H2KY04105, S0KY00149]",4,"[2012, 2014, 2016, 2018]"
34,"PAUL, RAND","[P40003576, S0KY00156]",4,"[2014, 2016, 2018, 2020]"
35,"PETERS, GARY","[H8MI09068, S4MI00355]",4,"[2014, 2016, 2018, 2020]"
36,"POLIQUIN, BRUCE L","[H4ME02234, S2ME00158]",4,"[2014, 2016, 2018, 2020]"
37,"RULLO, JOSEPH R","[H0NJ03146, S2NJ00361]",4,"[2012, 2014, 2016, 2018]"
38,"TARKANIAN, DANNY","[H2NV04045, S0NV00203]",4,"[2012, 2014, 2018, 2020]"
39,"UNDERWOOD, ERIK MONROE","[H8GA10072, S0DE00084]",4,"[2010, 2012, 2014, 2016]"
40,"YOUNG, DAVID","[H4IA03115, S4IA00103]",4,"[2014, 2016, 2018, 2020]"
41,"AKIN, W TODD","[H0MO02148, S2MO00429]",3,"[2012, 2014, 2016]"
42,"ANGLE, SHARRON E","[H6NV02172, S0NV00138]",3,"[2012, 2014, 2018]"
43,"ARMSTRONG, BRANDON CHRISTINA","[P60005402, S4SC00232]",3,"[2014, 2016, 2018]"
44,"BACA, JOE","[H6CA31142, H6CA42099]",3,"[2016, 2018, 2020]"
45,"BAESLER, HENRY SCOTT","[H2KY06076, S8KY00142]",3,"[2000, 2002, 2004]"
46,"BAYH, EVAN","[P80003296, S8IN00049]",3,"[2006, 2008, 2010]"
47,"BLASS, PIOTR DR","[H8FL00026, P60005618]",3,"[2014, 2016, 2018]"
48,"BROWNBACK, SAMUEL DALE","[P80003288, S6KS00122]",3,"[2006, 2008, 2010]"
49,"CARDIN, BENJAMIN L","[H6MD03177, S6MD03177]",3,"[2000, 2006, 2008]"

### Multiple `cand_id`'s for identical names &ndash; across election cycles ###

In [20]:
%%sql
with shared_cand_name as (
    select cand_name,
           count(distinct cand_id) as num_cand_ids
      from cand
     group by 1
    having count(distinct cand_id) > 1
)
select num_cand_ids,
       count(*) as num_shared_names
  from shared_cand_name
 group by 1
 order by 1 desc

 * postgresql+psycopg2://crash@caladan/fecdb
6 rows affected.

   num_cand_ids  num_shared_names
0             9                 1
1             6                 2
2             5                 4
3             4                12
4             3                93
5             2              1030

In [21]:
%%sql
with shared_cand_name as (
    select cand_name,
           count(distinct cand_id) as num_cand_ids,
           array_agg(distinct cand_id) as cand_ids,
           count(*) as count_records
      from cand
     group by 1
    having count(distinct cand_id) > 2
)
select cand_name,
       num_cand_ids,
       cand_ids
  from shared_cand_name
 order by 2 desc, 1
 limit 50

 * postgresql+psycopg2://crash@caladan/fecdb
50 rows affected.

,cand_name,num_cand_ids,cand_ids
0,"GRAYSON, RICHARD",9,"[H4FL09034, H4WY00170, H6FL14088, H6ID02191, H..."
1,"BRYK, WILLIAM",6,"[H0NY18016, H2IN08136, P20001822, S0ID00099, S..."
2,"CARTER, JERRY DEAN",6,"[S0NV00211, S4IA00160, S6CA00493, S8CO00198, S..."
3,"DE LA FUENTE, ROQUE ""ROCKY""",5,"[S8FL00299, S8MN00719, S8VT00166, S8WA00384, S..."
4,"LAROSE, JOSUE",5,"[H0FL19056, H2LA02099, P60004777, S0AZ00343, S..."
5,"MARTIN, ANDY",5,"[H6NH02196, P00003731, S0FL00197, S4IL00362, S..."
6,"SWING, GARY",5,"[H6AZ02213, H8CO01089, P00007674, S0CO00542, S..."
7,"BOSS, JEFF",4,"[H0NJ33010, H6NJ09249, P80005077, S8NJ00418]"
8,"CAMPBELL, TOM",4,"[H0SC05015, H8ND00104, S2CA00351, S8ND00104]"
9,"EVANS, MERVIN LEON",4,"[H0CA32085, H0CA33109, H4CA29026, S4CA00191]"
10,"FARRIS, JADEN THOMAS MR.",4,"[H0MD05175, P00009266, P00009928, S2MD00511]"
11,"GERMALIC, JAMES",4,"[H8KY06230, P80005796, S2OK00103, S6ND00082]"
12,"HAMBURG, AL",4,"[H6WY00050, P00003277, S0NE00056, S4WY00030]"
13,"MACK, CONNIE",4,"[H2FL10051, H4FL14059, S2FL00334, S8FL00034]"
14,"MAGEE, ERIN KENT",4,"[H4FL25014, H4IN07175, P20002648, S4TN00419]"
15,"MICHAELS, DANIEL TRAVIS",4,"[H2FL09145, P20005195, P60005964, S2FL00417]"
16,"PETERS, HERB",4,"[H0CA36151, H0CA37126, H2CA37254, H8CA35107]"
17,"TURNER, JOE",4,"[H0TX01082, H8TX26041, P00003939, P40003238]"
18,"WOODS, CHARLES",4,"[H0AL02061, H2AL02125, S2NV00118, S6AL00211]"
19,"ADAMS, JOHN",3,"[H0AR02149, H0OH15099, H4SC04051]"
20,"AGBEDE, AKINYEMI",3,"[H0CA28133, S2FL00235, S6CA00634]"
21,"ALDRICH, CHARLES",3,"[H8IA04155, S6IA00165, S8MN00545]"
22,"APPLEGATE, RALPH A.",3,"[H0OH15107, H2OH07142, H6OH18173]"
23,"ATANUS, SUSANNE",3,"[H0IL09080, P00008128, S0IL00436]"
24,"BARLOW, THOMAS J III",3,"[H6KY01011, H8KY01033, S6KY00039]"
25,"BARR, BOB",3,"[H4GA07259, H4GA11053, P80005580]"
26,"BINKLEY, MIKE",3,"[H0CA48149, H4CA36104, H6CA36133]"
27,"BLASS, PIOTR DR",3,"[H8FL00026, P60005618, S4FL00272]"
28,"BOND, TANYA ELIZABETH DR REV",3,"[H8PA03100, P80005325, S8PA00221]"
29,"BROWN, BRIAN RUSSELL",3,"[H2GA11164, H6GA09227, S0GA00336]"
30,"BROWN, PAUL MICHAEL",3,"[H6TX32043, H6VA32013, H8TX32155]"
31,"BROWN, ROBERT PAUL JR",3,"[P80005002, S2GA00126, S4NV00171]"
32,"BROWN, TED",3,"[H6CA25086, H6CA26217, H8CA26098]"
33,"CALERO, ROGER",3,"[H0NY15145, P80005481, S6NY00367]"
34,"CALLAHAN, MARK ALLEN",3,"[H8OR05198, P20002762, S4OR00172]"
35,"CAMPBELL, MIKE",3,"[H4IN04156, H6IN05232, H8IN06160]"
36,"CARR, BOB",3,"[H4MI01064, H6OH06129, S4MI00298]"
37,"CHOVIL, WILLIAM EDWARD",3,"[H0WA06057, P20002812, S4WA00466]"
38,"COX, JOHN H",3,"[H0IL10161, P80002983, S0IL00188]"
39,"CURTIS, CLINT",3,"[H0CA04134, H0FL06103, H6FL24020]"
40,"DE LA FUENTE, RICARDO",3,"[H7CA34029, H8CA34274, H8FL24067]"
41,"DE LA FUENTE, ROQUE ROCKY",3,"[S8CA00598, S8DE00178, S8RI00151]"
42,"DUNCAN, RICHARD",3,"[H0AZ06035, P20005252, S6OH00205]"
43,"EDWARDS, ADRIENNE NICOLE",3,"[H4CA34075, H6CA34229, S8CA00549]"
44,"ESTRADA, JOHN ANTHONY",3,"[H0CA19199, H8CA20067, P40002487]"
45,"FJETLAND, G MICHAEL",3,"[H0TX22062, H4TX22155, S4TX00474]"
46,"FLASH, ROCKY",3,"[H0NJ10117, H2FL11075, S8IN00106]"
47,"FRANCIS, DANNY M",3,"[H8NY23126, P80004278, S0NY00485]"
48,"FRASIER, BEN",3,"[H6SC01136, H8SC01041, S4SC00182]"
49,"GALLAGHER, TOM",3,"[H0CA12129, H4NV03019, S0FL00205]"

### To Do ###

Examine the following:

* Multiple `cand_id`'s for *similar* names &ndash; within election cycles
    * Look at names that are strict subsets/supersets of one another (indicating abbreviations, or dropping middle names, etc.)
    * Look at names that only differ by quotation marks (e.g. used for nicknames)
* Multiple `cand_id`'s for *similar* names &ndash; across election cycles
    * Same patterns as above should be investigated

## Summary ##

Based on the above exploration, the following enhancements to the schema are recommended:

* Normalize `cand_name` (and other text fields? \[see below]) during intial load (awk script)
    * Convert to uppercase (for future protection)
    * Collapse consecutive whitespace
* Create `cand_master` table based on unique `cand_id`'s (across election cycles)
    * Include `base_cand_master_id` for associating Candidates with different `cand_id`'s, but identical (*or similar?*) names

Other text fields to consider for normalization:

* `cand_st1`
* `cand_st2`
* `cand_city`
* `cand_st`