# Define Donor Segment Context &ndash; Top Contributors to the 314 PAC #

## Overview ##

Explore the FEC data by specifying SQL predicates that identify **Donor Segments**, which are static lists of Donor (`donor_indiv` view) records.  Note that a Donor Segment context may including one *or more* segments (e.g. by name or ID).  As with Donor contexts, Donor identities ***are*** discernible within queries using this context type.

For this notebook, we will create a Donor Segment based on top contributors to the 314 PAC.  This represents a common use case of manually creating a single Donor Segment and setting a query context in which to explore the collective giving patterns for the included members.  As a basis for the Donors comprising the Segment, we will also group the underlying Individual records into Donors using a simple name and address matching scheme.  As described below, this grouping scheme is by no means rigorous, but demonstrates an approach to bringing better integrity to some of the variability in the base FEC data sets.

This approach will create the following query contexts:

**Principal Context View**

* `ctx_dseg`

**Dependent Context Views**

* `ctx_dseg_memb`
* `ctx_donor`
* `ctx_indiv`
* `ctx_indiv_contrib`
* `ctx_donor_contrib`

## Notebook Setup ##

### Configure database connect info/options ###

Note: database connect string can be specified on the initial `%sql` command:

```python
database_url = "postgresql+psycopg2://user@localhost/fecdb"
%sql $database_url

```

Or, connect string is taken from DATABASE_URL environment variable (if not specified for `%sql`):

```python
%sql

```

In [1]:
%load_ext sql
%config SqlMagic.autopandas=True
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'
# connect string taken from DATABASE_URL environment variable
%sql

'Connected: crash@fecdb'

### Clear context ###

Note that we drop *all* context views so we won't have any inconsistencies after this notebook is run.  After defining `ctx_indiv` below, we will define all dependent views (see Overview, above), and leave any higher-order or orthogonal views undefined

In [2]:
%sql drop view if exists ctx_dseg_memb     cascade
%sql drop view if exists ctx_dseg          cascade
%sql drop view if exists ctx_donor_contrib cascade
%sql drop view if exists ctx_donor         cascade
%sql drop view if exists ctx_household     cascade
%sql drop view if exists ctx_iseg_memb     cascade
%sql drop view if exists ctx_iseg          cascade
%sql drop view if exists ctx_indiv_contrib cascade
%sql drop view if exists ctx_indiv         cascade

 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

### Set styling ###

In [3]:
%%html
<style>
  tr, th, td {
    text-align: left !important;
  }
</style>

## Create Donor Segment for Top 314 Donors ##

We clear out any previous versions of these temporary tables/views that are created and used in this notebook (to ensure that all of the SQL for them shown below is executed, since this use case is written for demonstration purposes).

In [4]:
%sql delete from donor_seg where name = 'Top 314 Donors'
%sql drop materialized view if exists donor_sum_314 cascade
%sql drop materialized view if exists indiv_group cascade

 * postgresql+psycopg2://crash@localhost/fecdb
0 rows affected.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

This view is a rough cut approach to grouping `indiv` records that are likely to represent the same real-wold person.  Individuals here are grouped together if matching on the combination of: last name, first three characters of first name, and first three characters of zip code.  Note that this view only considers the most standard pattern of name representation in the FEC data (i.e "&lt;last&gt;, &lt;first&gt; [&lt;middle&gt;|&lt;titles&gt;|&lt;degrees&gt;|...]"); other non-well-formed representations will be skipped (or not properly parsed and associated).

This quick and dirty logic is used for creating Donors from Individuals in this notebook (for demonstration purposes), but should be replaced later by higher-definition, context-sensitive algorithms when trying to get more accurate analysis and reporting out of the data.

In [5]:
%%sql
create materialized view if not exists indiv_group as
select ip.part1                  as last_name,
       substr(ip.part2, 1, 3)    as first_name_pfx,
       substr(ip.zip_code, 1, 3) as zip_pfx,
       count(distinct ip.id)     as indivs,
       array_agg(distinct ip.id) as indiv_ids
  from indiv_parsed ip
 where ip.name ~ '^[A-Z][^,]'
   and ip.zip_code is not null
   and ip.num_parts > 1
   and ip.part1 !~ ' '
 group by 1, 2, 3

 * postgresql+psycopg2://crash@localhost/fecdb
6738578 rows affected.

Empty DataFrame
Columns: []
Index: []

Create a view to represent `indiv_contrib` records associated with any committee whose name is prefixed by "314" (this qualification can be amended if there are other patterns representing the same PAC; currently there are no others with "314" elsewhere in the name)

Note that this serves as a template for creating other segments of contributions, and hence the Donors (or Inidividuals, if wanting to create an Individual Segment instead) behind them, for doing a similar type of investigation

In [6]:
%%sql
create or replace view contrib_to_314 as
select cm.cmte_nm,
       ic.*
  from cmte cm
  join indiv_contrib ic
       on ic.cmte_id = cm.cmte_id
 where cm.cmte_nm like '314%'

 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

We now create a view summarizing the contributions to the "314" committees from the Individual groupings (i.e. approximation of Donors) created above.  The aggregation for each "Donor" includes the list of consolidated `indiv_id` keys, the total number of contributions, and the total and average amounts.

SQL design note: not obvious whether it is better to re-aggregate the unnested ids (even though we are not able to omit the `distinct` qualifier), or select `ig.indiv_ids` and add to GROUP BY clause&mdash;voting for the former option right now.

In [7]:
%%sql
create materialized view donor_sum_314 as
with indiv_group_memb as (
    select ig.last_name,
           ig.first_name_pfx,
           ig.zip_pfx,
           --ig.indiv_ids,
           unnest(ig.indiv_ids) as indiv_id
      from indiv_group ig
)
select igm.last_name,
       igm.first_name_pfx,
       igm.zip_pfx,
       array_agg(distinct igm.indiv_id)
                                 as indiv_ids,
       count(ct.transaction_amt) as contribs,
       sum(ct.transaction_amt)   as total_amt,
       round(sum(ct.transaction_amt) / count(ct.transaction_amt), 2)
                                 as avg_amt,
       array_agg(distinct ct.elect_cycle)
                                 as elect_cycles
  from indiv_group_memb igm
  join contrib_to_314 ct on ct.indiv_id = igm.indiv_id
 group by 1, 2, 3

 * postgresql+psycopg2://crash@localhost/fecdb
2438 rows affected.

Empty DataFrame
Columns: []
Index: []

Create a couple of indexes for performance.

In [8]:
%sql create index donor_sum_314_total_amt on donor_sum_314 (total_amt)
%sql create index donor_sum_314_avg_amt on donor_sum_314 (avg_amt)

 * postgresql+psycopg2://crash@localhost/fecdb
Done.
 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

Let's inspect the top 50 "Donors" (the actual Donor records not yet created) by total contribution amount.  This is the list that we will create our segment from.

In [9]:
%%sql
select *
  from donor_sum_314
 order by total_amt desc, contribs desc
 limit 50

 * postgresql+psycopg2://crash@localhost/fecdb
50 rows affected.

,last_name,first_name_pfx,zip_pfx,indiv_ids,contribs,total_amt,avg_amt,elect_cycles
0,STOREY,BAY,191,[11659801],21,240000.00,11428.57,[2016]
1,ROSZAK,MAT,600,[10325529],2,204562.00,102281.00,[2018]
2,PROCKOP,DAR,191,[9683572],2,200000.00,100000.00,[2018]
3,PARK,TOD,940,[9188602],2,200000.00,100000.00,[2018]
4,SHENKER,SCO,947,[10979072],7,105500.00,15071.43,"[2014, 2018]"
5,GIRARDI,THO,900,[4336953],4,100000.00,25000.00,[2018]
6,NASH,RIC,598,[8656333],2,100000.00,50000.00,[2018]
7,ABRAMSON,RON,200,[28429],4,50000.00,12500.00,[2018]
8,TAYLOR,DAL,606,[11902785],2,50000.00,25000.00,[2018]
9,LARSEN,CHR,941,[6822374],2,50000.00,25000.00,[2018]
10,MORGAN,HOW,100,[8417423],2,50000.00,25000.00,[2018]
11,SOLIMAN,KAR,926,[11356137],2,49890.00,24945.00,[2018]
12,MCEVOY,NIO,941,[7863787],42,42966.00,1023.00,[2016]
13,KAHN,RON,941,"[6110433, 6110440]",13,42000.00,3230.77,"[2016, 2018]"
14,PARK,DAV,940,[9165471],4,40312.00,10078.00,[2018]
15,TORRES,TOM,770,[12143213],36,36000.00,1000.00,"[2014, 2016]"
16,NEGROPONTE,NIC,021,[8688914],2,22378.00,11189.00,[2018]
17,BASSI,STE,920,[678448],2,20466.00,10233.00,[2018]
18,GROSSBLATT,DAV,941,[4684620],2,20230.00,10115.00,[2018]
19,CUELLAR,CLI,984,[2576925],12,20050.00,1670.83,[2020]
20,LAWRENCE,FRA,640,[6872845],6,20010.00,3335.00,[2020]
21,SWINDELL,DAV,021,[11823232],4,20000.00,5000.00,[2018]
22,PROOPS,JAY,598,[9688035],2,20000.00,10000.00,[2018]
23,GURAL,JEF,100,[4745356],2,20000.00,10000.00,[2018]
24,SHOCH,JOH,940,[11024692],2,20000.00,10000.00,[2018]
25,HONARKAR,MOH,926,[5486301],2,20000.00,10000.00,[2018]
26,BYERS,BRO,940,[1661575],2,20000.00,10000.00,[2018]
27,HUDSON,BRU,132,[5601495],6,18000.00,3000.00,[2016]
28,JHONG,EUG,940,[5902719],2,16604.00,8302.00,[2018]
29,KARPLUS,BAR,913,[6169689],4,16000.00,4000.00,[2020]
30,GOLLON,PET,117,[4435025],18,15900.00,883.33,"[2018, 2020]"
31,NORTON,JAC,100,"[8848719, 8848720, 8848731]",18,15700.00,872.22,"[2014, 2016, 2018, 2020]"
32,GILBERT,JOH,024,[4293837],90,15450.00,171.67,"[2018, 2020]"
33,KAPER,TAS,019,[6147085],10,15000.00,1500.00,[2018]
34,LEVINSON,FRA,949,[7037936],3,15000.00,5000.00,[2016]
35,BEEUWKES,REI,017,[779629],3,15000.00,5000.00,[2016]
36,KIRK,CLA,100,"[6433238, 6433258]",8,14500.00,1812.50,"[2016, 2018, 2020]"
37,JENCKS,CHR,021,[5870457],42,14320.00,340.95,"[2016, 2018]"
38,FERSTER,DAV,600,[3678807],6,13500.00,2250.00,[2018]
39,NIELSEN,SHE,600,[8793106],60,13238.00,220.63,"[2018, 2020]"
40,HORLICK,SUS,323,[5515167],60,11716.00,195.27,"[2018, 2020]"
41,TUSK,BRA,100,[12265351],2,10800.00,5400.00,[2018]
42,FORDE,JAM,927,[3850042],2,10800.00,5400.00,[2018]
43,BERG,FRE,045,[877907],6,10260.00,1710.00,[2018]
44,MOUNT,PHY,064,[8496236],10,10092.00,1009.20,"[2018, 2020]"
45,POWERS,ANN,960,[9625220],10,10000.00,1000.00,[2018]
46,HALL,CLA,145,[4828088],4,10000.00,2500.00,[2018]
47,BLUE,ALL,902,[1083690],2,10000.00,5000.00,[2018]
48,FRIEDMAN,DON,294,[3993057],2,10000.00,5000.00,[2018]
49,FRIEDMAN,RAN,294,[3997846],2,10000.00,5000.00,[2018]

Now we use `create_donor_seg` function to create the segment based on the query we just executed.  This step also creates the actual underlying Donor records from the groupings determined by `indiv_group`.

In [10]:
%%sql
with donor_set as (
    select row(indiv_ids)::id_array as ids
      from donor_sum_314
     order by total_amt desc, contribs desc
     limit 50
)
select create_donor_seg(array_agg(ids), 'Top 314 Donors') as seg_id
  from donor_set

 * postgresql+psycopg2://crash@localhost/fecdb
1 rows affected.

   seg_id
0     239

## Create Principal View (`ctx_dseg`) ##

In [11]:
%%sql
create or replace view ctx_dseg as
select id,
       name,
       description
  from donor_seg ds
 where ds.name = 'Top 314 Donors'

 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

In [12]:
%%sql
select *
  from ctx_dseg

 * postgresql+psycopg2://crash@localhost/fecdb
1 rows affected.

    id            name description
0  239  Top 314 Donors        None

## Create Dependent Views ##

### Create `ctx_dseg_memb` ###

In [13]:
%%sql
create or replace view ctx_dseg_memb as
select dsm.*
  from ctx_dseg dsx
  join donor_seg_memb dsm on dsm.donor_seg_id = dsx.id

 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

In [14]:
%%sql
select ds.name as dseg_name,
       d.name  as indiv_name,
       d.city,
       d.state,
       d.zip_code,
       d.elect_cycles
  from ctx_dseg_memb dsmx
  join donor_seg ds on ds.id = dsmx.donor_seg_id
  join donor_indiv d on d.id = dsmx.donor_indiv_id

 * postgresql+psycopg2://crash@localhost/fecdb
50 rows affected.

,dseg_name,indiv_name,city,state,zip_code,elect_cycles
0,Top 314 Donors,"ABRAMSON, RONALD",WASHINGTON,DC,200063807,"[2012, 2014, 2016, 2018, 2020]"
1,Top 314 Donors,"BASSI, STEVE",CARLSBAD,CA,920081900,[2018]
2,Top 314 Donors,"BEEUWKES, REINIER",CONCORD,MA,017425322,"[2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020]"
3,Top 314 Donors,"BERG, FRED",CUSHING,ME,045633307,"[2016, 2018]"
4,Top 314 Donors,"BLUE, ALLEN",VENICE,CA,902913830,"[2016, 2018]"
5,Top 314 Donors,"BYERS, BROOK",MENLO PARK,CA,940257020,"[2014, 2016, 2018, 2020]"
6,Top 314 Donors,"CUELLAR, CLIFFORD",TACOMA,WA,984053360,"[2016, 2018, 2020]"
7,Top 314 Donors,"FERSTER, DAVID",WILMETTE,IL,600911553,"[2014, 2016, 2018, 2020]"
8,Top 314 Donors,"FORDE, JAMES",TUSTIN,CA,927806320,[2018]
9,Top 314 Donors,"FRIEDMAN, DONNA",MOUNT PLEASANT,SC,294644305,"[2014, 2016, 2018, 2020]"
10,Top 314 Donors,"FRIEDMAN, RANDOLPH",MOUNT PLEASANT,SC,294644305,"[2018, 2020]"
11,Top 314 Donors,"GILBERT, JOHN",BROOKLINE,MA,024465769,"[2004, 2006, 2014, 2016, 2018, 2020]"
12,Top 314 Donors,"GIRARDI, THOMAS V.",LOS ANGELES,CA,900171904,"[2014, 2016, 2018, 2020]"
13,Top 314 Donors,"GOLLON, PETER",HUNTINGTON,NY,117431918,"[2014, 2016, 2018, 2020]"
14,Top 314 Donors,"GROSSBLATT, DAVID",SAN FRANCISCO,CA,941074317,[2018]
15,Top 314 Donors,"GURAL, JEFFREY",NEW YORK,NY,100175529,"[2004, 2014, 2016, 2018, 2020]"
16,Top 314 Donors,"HALL, CLAIRE",VICTOR,NY,145641102,[2018]
17,Top 314 Donors,"HONARKAR, MOHAMMAD",IRVINE,CA,926184236,"[2016, 2018]"
18,Top 314 Donors,"HORLICK, SUSAN",TALLAHASSEE,FL,323117834,"[2016, 2018, 2020]"
19,Top 314 Donors,"HUDSON, BRUCE S.",SYRACUSE,NY,132103116,[2016]
20,Top 314 Donors,"JENCKS, CHRISTOPHER",CAMBRIDGE,MA,021382409,"[2004, 2006, 2012, 2014, 2016, 2018, 2020]"
21,Top 314 Donors,"JHONG, EUGENE",LOS ALTOS,CA,940221702,"[2018, 2020]"
22,Top 314 Donors,"KAHN, RONALD N",SAN FRANCISCO,CA,941590599,"[2014, 2016, 2018, 2020]"
23,Top 314 Donors,"KAPER, TASSO",MANCHESTER,MA,019441048,"[2014, 2016, 2018, 2020]"
24,Top 314 Donors,"KARPLUS, BARBARA",NEWBURY PARK,CA,913202803,"[2016, 2018, 2020]"
25,Top 314 Donors,"KIRK, CLAY",NEW YORK,NY,100215251,"[2014, 2016, 2018, 2020]"
26,Top 314 Donors,"LARSEN, CHRIS",SAN FRANCISCO,CA,941091512,"[2010, 2016, 2018, 2020]"
27,Top 314 Donors,"LAWRENCE, FRANK",LEES SUMMIT,MO,640863079,"[2016, 2020]"
28,Top 314 Donors,"LEVINSON, FRANK",TIBURON,CA,949202523,"[2016, 2018, 2020]"
29,Top 314 Donors,"MCEVOY, NION",SAN FRANCISCO,CA,94118,"[2002, 2004, 2006, 2008, 2010, 2012, 2014, 201..."
30,Top 314 Donors,"MORGAN, HOWARD L.",NEW YORK,NY,100657253,[2018]
31,Top 314 Donors,"MOUNT, PHYLLIS F.",SOUTHBURY,CT,064885719,"[2018, 2020]"
32,Top 314 Donors,"NASH, RICHARD",MISSOULA,MT,598045862,[2018]
33,Top 314 Donors,"NEGROPONTE, NICHOLAS",CAMBRIDGE,MA,021421322,[2018]
34,Top 314 Donors,"NIELSEN, SHEILA",WINNETKA,IL,600932015,"[2014, 2016, 2018, 2020]"
35,Top 314 Donors,"NORTON, JACK",NEW YORK,NY,10027,"[2010, 2012, 2014, 2016, 2018]"
36,Top 314 Donors,"PARK, DAVID",LOS ALTOS,CA,940223838,[2018]
37,Top 314 Donors,"PARK, TODD",LOS ALTOS HILLS,CA,940223385,"[2018, 2020]"
38,Top 314 Donors,"POWERS, ANN",DUNSMUIR,CA,960252504,"[2016, 2018]"
39,Top 314 Donors,"PROCKOP, DARWIN J. MD, PHD",PHILADELPHIA,PA,191063913,"[2016, 2018]"
40,Top 314 Donors,"PROOPS, JAY",OVANDO,MT,598540149,[2018]
41,Top 314 Donors,"ROSZAK, MATTHEW",WINNETKA,IL,600933630,"[2018, 2020]"
42,Top 314 Donors,"SHENKER, SCOTT",BERKELEY,CA,947072052,"[2014, 2016, 2018, 2020]"
43,Top 314 Donors,"SHOCH, JOHN PHD",WOODSIDE,CA,940622538,"[2016, 2018]"
44,Top 314 Donors,"SOLIMAN, KARL",IRVINE,CA,926127186,[2018]
45,Top 314 Donors,"STOREY, BAYARD T PH.D.",PHILADELPHIA,PA,191303202,"[2006, 2014, 2016]"
46,Top 314 Donors,"SWINDELL, DAVE",BOSTON,MA,021163510,[2018]
47,Top 314 Donors,"TAYLOR, DALE",CHICAGO,IL,606146085,"[2016, 2018, 2020]"
48,Top 314 Donors,"TORRES, TOMAS",HOUSTON,TX,770653124,"[2012, 2014, 2016, 2018, 2020]"
49,Top 314 Donors,"TUSK, BRADLEY",NEW YORK,NY,100039605,"[2014, 2016, 2018, 2020]"

### Create `ctx_donor` ###

Since there is no chance of multiple inclusion of Donors in `ctx_dseg_memb` (i.e. `ctx_dseg` does not include more than one Donor Segments), then we can use straight-forward SQL for creating `ctx_donor` (see similar section in `dc7` for discussion of a slightly more complicated case).

In [15]:
%%sql
create or replace view ctx_donor as
select d.*
  from ctx_dseg_memb dsmx
  join donor_indiv d on d.id = dsmx.donor_indiv_id

 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

Quick validation&mdash;the rows here should match those queried just before creation of the Donor Segment (above), except full Donor names are now shown.

In [16]:
%%sql
select id,
       name,
       city,
       state,
       zip_code,
       elect_cycles
  from ctx_donor

 * postgresql+psycopg2://crash@localhost/fecdb
50 rows affected.

,id,name,city,state,zip_code,elect_cycles
0,28429,"ABRAMSON, RONALD",WASHINGTON,DC,200063807,"[2012, 2014, 2016, 2018, 2020]"
1,678448,"BASSI, STEVE",CARLSBAD,CA,920081900,[2018]
2,779629,"BEEUWKES, REINIER",CONCORD,MA,017425322,"[2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020]"
3,877907,"BERG, FRED",CUSHING,ME,045633307,"[2016, 2018]"
4,1083690,"BLUE, ALLEN",VENICE,CA,902913830,"[2016, 2018]"
5,1661575,"BYERS, BROOK",MENLO PARK,CA,940257020,"[2014, 2016, 2018, 2020]"
6,2576925,"CUELLAR, CLIFFORD",TACOMA,WA,984053360,"[2016, 2018, 2020]"
7,3678807,"FERSTER, DAVID",WILMETTE,IL,600911553,"[2014, 2016, 2018, 2020]"
8,3850042,"FORDE, JAMES",TUSTIN,CA,927806320,[2018]
9,3993057,"FRIEDMAN, DONNA",MOUNT PLEASANT,SC,294644305,"[2014, 2016, 2018, 2020]"
10,3997846,"FRIEDMAN, RANDOLPH",MOUNT PLEASANT,SC,294644305,"[2018, 2020]"
11,4293837,"GILBERT, JOHN",BROOKLINE,MA,024465769,"[2004, 2006, 2014, 2016, 2018, 2020]"
12,4336953,"GIRARDI, THOMAS V.",LOS ANGELES,CA,900171904,"[2014, 2016, 2018, 2020]"
13,4435025,"GOLLON, PETER",HUNTINGTON,NY,117431918,"[2014, 2016, 2018, 2020]"
14,4684620,"GROSSBLATT, DAVID",SAN FRANCISCO,CA,941074317,[2018]
15,4745356,"GURAL, JEFFREY",NEW YORK,NY,100175529,"[2004, 2014, 2016, 2018, 2020]"
16,4828088,"HALL, CLAIRE",VICTOR,NY,145641102,[2018]
17,5486301,"HONARKAR, MOHAMMAD",IRVINE,CA,926184236,"[2016, 2018]"
18,5515167,"HORLICK, SUSAN",TALLAHASSEE,FL,323117834,"[2016, 2018, 2020]"
19,5601495,"HUDSON, BRUCE S.",SYRACUSE,NY,132103116,[2016]
20,5870457,"JENCKS, CHRISTOPHER",CAMBRIDGE,MA,021382409,"[2004, 2006, 2012, 2014, 2016, 2018, 2020]"
21,5902719,"JHONG, EUGENE",LOS ALTOS,CA,940221702,"[2018, 2020]"
22,6110433,"KAHN, RONALD N",SAN FRANCISCO,CA,941590599,"[2014, 2016, 2018, 2020]"
23,6147085,"KAPER, TASSO",MANCHESTER,MA,019441048,"[2014, 2016, 2018, 2020]"
24,6169689,"KARPLUS, BARBARA",NEWBURY PARK,CA,913202803,"[2016, 2018, 2020]"
25,6433238,"KIRK, CLAY",NEW YORK,NY,100215251,"[2014, 2016, 2018, 2020]"
26,6822374,"LARSEN, CHRIS",SAN FRANCISCO,CA,941091512,"[2010, 2016, 2018, 2020]"
27,6872845,"LAWRENCE, FRANK",LEES SUMMIT,MO,640863079,"[2016, 2020]"
28,7037936,"LEVINSON, FRANK",TIBURON,CA,949202523,"[2016, 2018, 2020]"
29,7863787,"MCEVOY, NION",SAN FRANCISCO,CA,94118,"[2002, 2004, 2006, 2008, 2010, 2012, 2014, 201..."
30,8417423,"MORGAN, HOWARD L.",NEW YORK,NY,100657253,[2018]
31,8496236,"MOUNT, PHYLLIS F.",SOUTHBURY,CT,064885719,"[2018, 2020]"
32,8656333,"NASH, RICHARD",MISSOULA,MT,598045862,[2018]
33,8688914,"NEGROPONTE, NICHOLAS",CAMBRIDGE,MA,021421322,[2018]
34,8793106,"NIELSEN, SHEILA",WINNETKA,IL,600932015,"[2014, 2016, 2018, 2020]"
35,8848719,"NORTON, JACK",NEW YORK,NY,10027,"[2010, 2012, 2014, 2016, 2018]"
36,9165471,"PARK, DAVID",LOS ALTOS,CA,940223838,[2018]
37,9188602,"PARK, TODD",LOS ALTOS HILLS,CA,940223385,"[2018, 2020]"
38,9625220,"POWERS, ANN",DUNSMUIR,CA,960252504,"[2016, 2018]"
39,9683572,"PROCKOP, DARWIN J. MD, PHD",PHILADELPHIA,PA,191063913,"[2016, 2018]"
40,9688035,"PROOPS, JAY",OVANDO,MT,598540149,[2018]
41,10325529,"ROSZAK, MATTHEW",WINNETKA,IL,600933630,"[2018, 2020]"
42,10979072,"SHENKER, SCOTT",BERKELEY,CA,947072052,"[2014, 2016, 2018, 2020]"
43,11024692,"SHOCH, JOHN PHD",WOODSIDE,CA,940622538,"[2016, 2018]"
44,11356137,"SOLIMAN, KARL",IRVINE,CA,926127186,[2018]
45,11659801,"STOREY, BAYARD T PH.D.",PHILADELPHIA,PA,191303202,"[2006, 2014, 2016]"
46,11823232,"SWINDELL, DAVE",BOSTON,MA,021163510,[2018]
47,11902785,"TAYLOR, DALE",CHICAGO,IL,606146085,"[2016, 2018, 2020]"
48,12143213,"TORRES, TOMAS",HOUSTON,TX,770653124,"[2012, 2014, 2016, 2018, 2020]"
49,12265351,"TUSK, BRADLEY",NEW YORK,NY,100039605,"[2014, 2016, 2018, 2020]"

### Create `ctx_indiv` ###

In [17]:
%%sql
create or replace view ctx_indiv as
select i.*
  from ctx_donor dx
  join indiv i on i.donor_indiv_id = dx.id

 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

Note, there will likely be more Individuals in the context (compared to Donors above) due to the coalesce logic in `indiv_group`.  Individual records that are combined to form a Donor should be adjacent to each other here.

In [18]:
%%sql
select id,
       name,
       city,
       state,
       zip_code,
       elect_cycles,
       donor_indiv_id
  from ctx_indiv
 order by donor_indiv_id, name

 * postgresql+psycopg2://crash@localhost/fecdb
54 rows affected.

,id,name,city,state,zip_code,elect_cycles,donor_indiv_id
0,28429,"ABRAMSON, RONALD",WASHINGTON,DC,200063807,"[2012, 2014, 2016, 2018, 2020]",28429
1,678448,"BASSI, STEVE",CARLSBAD,CA,920081900,[2018],678448
2,779629,"BEEUWKES, REINIER",CONCORD,MA,017425322,"[2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020]",779629
3,877907,"BERG, FRED",CUSHING,ME,045633307,"[2016, 2018]",877907
4,1083690,"BLUE, ALLEN",VENICE,CA,902913830,"[2016, 2018]",1083690
5,1661575,"BYERS, BROOK",MENLO PARK,CA,940257020,"[2014, 2016, 2018, 2020]",1661575
6,2576925,"CUELLAR, CLIFFORD",TACOMA,WA,984053360,"[2016, 2018, 2020]",2576925
7,3678807,"FERSTER, DAVID",WILMETTE,IL,600911553,"[2014, 2016, 2018, 2020]",3678807
8,3850042,"FORDE, JAMES",TUSTIN,CA,927806320,[2018],3850042
9,3993057,"FRIEDMAN, DONNA",MOUNT PLEASANT,SC,294644305,"[2014, 2016, 2018, 2020]",3993057
10,3997846,"FRIEDMAN, RANDOLPH",MOUNT PLEASANT,SC,294644305,"[2018, 2020]",3997846
11,4293837,"GILBERT, JOHN",BROOKLINE,MA,024465769,"[2004, 2006, 2014, 2016, 2018, 2020]",4293837
12,4336953,"GIRARDI, THOMAS V.",LOS ANGELES,CA,900171904,"[2014, 2016, 2018, 2020]",4336953
13,4435025,"GOLLON, PETER",HUNTINGTON,NY,117431918,"[2014, 2016, 2018, 2020]",4435025
14,4684620,"GROSSBLATT, DAVID",SAN FRANCISCO,CA,941074317,[2018],4684620
15,4745356,"GURAL, JEFFREY",NEW YORK,NY,100175529,"[2004, 2014, 2016, 2018, 2020]",4745356
16,4828088,"HALL, CLAIRE",VICTOR,NY,145641102,[2018],4828088
17,5486301,"HONARKAR, MOHAMMAD",IRVINE,CA,926184236,"[2016, 2018]",5486301
18,5515167,"HORLICK, SUSAN",TALLAHASSEE,FL,323117834,"[2016, 2018, 2020]",5515167
19,5601495,"HUDSON, BRUCE S.",SYRACUSE,NY,132103116,[2016],5601495
20,5870457,"JENCKS, CHRISTOPHER",CAMBRIDGE,MA,021382409,"[2004, 2006, 2012, 2014, 2016, 2018, 2020]",5870457
21,5902719,"JHONG, EUGENE",LOS ALTOS,CA,940221702,"[2018, 2020]",5902719
22,6110433,"KAHN, RONALD N",SAN FRANCISCO,CA,941590599,"[2014, 2016, 2018, 2020]",6110433
23,6110440,"KAHN, RONALD N.",SAN FRANCISCO,CA,941590599,"[2016, 2018, 2020]",6110433
24,6147085,"KAPER, TASSO",MANCHESTER,MA,019441048,"[2014, 2016, 2018, 2020]",6147085
25,6169689,"KARPLUS, BARBARA",NEWBURY PARK,CA,913202803,"[2016, 2018, 2020]",6169689
26,6433238,"KIRK, CLAY",NEW YORK,NY,100215251,"[2014, 2016, 2018, 2020]",6433238
27,6433258,"KIRK, CLAY KENAN",NEW YORK,NY,100215251,"[2014, 2016, 2018, 2020]",6433238
28,6822374,"LARSEN, CHRIS",SAN FRANCISCO,CA,941091512,"[2010, 2016, 2018, 2020]",6822374
29,6872845,"LAWRENCE, FRANK",LEES SUMMIT,MO,640863079,"[2016, 2020]",6872845
30,7037936,"LEVINSON, FRANK",TIBURON,CA,949202523,"[2016, 2018, 2020]",7037936
31,7863787,"MCEVOY, NION",SAN FRANCISCO,CA,94118,"[2002, 2004, 2006, 2008, 2010, 2012, 2014, 201...",7863787
32,8417423,"MORGAN, HOWARD L.",NEW YORK,NY,100657253,[2018],8417423
33,8496236,"MOUNT, PHYLLIS F.",SOUTHBURY,CT,064885719,"[2018, 2020]",8496236
34,8656333,"NASH, RICHARD",MISSOULA,MT,598045862,[2018],8656333
35,8688914,"NEGROPONTE, NICHOLAS",CAMBRIDGE,MA,021421322,[2018],8688914
36,8793106,"NIELSEN, SHEILA",WINNETKA,IL,600932015,"[2014, 2016, 2018, 2020]",8793106
37,8848719,"NORTON, JACK",NEW YORK,NY,10027,"[2010, 2012, 2014, 2016, 2018]",8848719
38,8848720,"NORTON, JACK",NEW YORK,NY,100276814,"[2014, 2016, 2018, 2020]",8848719
39,8848731,"NORTON, JACK R.",NEW YORK,NY,10027,"[2012, 2018]",8848719
40,9165471,"PARK, DAVID",LOS ALTOS,CA,940223838,[2018],9165471
41,9188602,"PARK, TODD",LOS ALTOS HILLS,CA,940223385,"[2018, 2020]",9188602
42,9625220,"POWERS, ANN",DUNSMUIR,CA,960252504,"[2016, 2018]",9625220
43,9683572,"PROCKOP, DARWIN J. MD, PHD",PHILADELPHIA,PA,191063913,"[2016, 2018]",9683572
44,9688035,"PROOPS, JAY",OVANDO,MT,598540149,[2018],9688035
45,10325529,"ROSZAK, MATTHEW",WINNETKA,IL,600933630,"[2018, 2020]",10325529
46,10979072,"SHENKER, SCOTT",BERKELEY,CA,947072052,"[2014, 2016, 2018, 2020]",10979072
47,11024692,"SHOCH, JOHN PHD",WOODSIDE,CA,940622538,"[2016, 2018]",11024692
48,11356137,"SOLIMAN, KARL",IRVINE,CA,926127186,[2018],11356137
49,11659801,"STOREY, BAYARD T PH.D.",PHILADELPHIA,PA,191303202,"[2006, 2014, 2016]",11659801
50,11823232,"SWINDELL, DAVE",BOSTON,MA,021163510,[2018],11823232
51,11902785,"TAYLOR, DALE",CHICAGO,IL,606146085,"[2016, 2018, 2020]",11902785
52,12143213,"TORRES, TOMAS",HOUSTON,TX,770653124,"[2012, 2014, 2016, 2018, 2020]",12143213
53,12265351,"TUSK, BRADLEY",NEW YORK,NY,100039605,"[2014, 2016, 2018, 2020]",12265351

### Create `ctx_indiv_contrib` ###

In [19]:
%%sql
create or replace view ctx_indiv_contrib as
select ic.*
  from ctx_indiv ix
  join indiv_contrib ic on ic.indiv_id = ix.id

 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

In [20]:
%%sql
select count(*)             as contribs,
       sum(transaction_amt) as total_amt,
       array_agg(distinct elect_cycle) as elect_cycles
  from ctx_indiv_contrib

 * postgresql+psycopg2://crash@localhost/fecdb
1 rows affected.

   contribs   total_amt                                       elect_cycles
0      4369  6663529.00  [2002, 2004, 2006, 2008, 2010, 2012, 2014, 201...

### Create `ctx_donor_contrib` ###

This is really the same as `ctx_indiv_contrib`, except that we are adding `donor_indiv_id` on top of the `indiv_contrib` columns so that queries using this context view are able to join to (and/or group by) the underlying Donor record (and not just the Individual associated with the contribution record).

In [21]:
%%sql
create or replace view ctx_donor_contrib as
select ic.*,
       ix.donor_indiv_id
  from ctx_indiv ix
  join indiv_contrib ic on ic.indiv_id = ix.id

 * postgresql+psycopg2://crash@localhost/fecdb
Done.

Empty DataFrame
Columns: []
Index: []

In [22]:
%%sql
select d.id                 as donor_id,
       d.name               as donor_name,
       count(*)             as contribs,
       sum(transaction_amt) as total_amt,
       array_agg(distinct elect_cycle) as elect_cycles
  from ctx_donor_contrib cx
  join donor_indiv d on d.id = cx.donor_indiv_id
 group by 1, 2
 order by 4 desc, 3 desc

 * postgresql+psycopg2://crash@localhost/fecdb
50 rows affected.

,donor_id,donor_name,contribs,total_amt,elect_cycles
0,779629,"BEEUWKES, REINIER",433,888258.00,"[2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020]"
1,6169689,"KARPLUS, BARBARA",340,878285.00,"[2016, 2018, 2020]"
2,10979072,"SHENKER, SCOTT",241,849800.00,"[2014, 2016, 2018, 2020]"
3,28429,"ABRAMSON, RONALD",295,471583.00,"[2012, 2014, 2016, 2018, 2020]"
4,1083690,"BLUE, ALLEN",81,426400.00,"[2016, 2018]"
5,7863787,"MCEVOY, NION",558,383899.00,"[2002, 2004, 2006, 2008, 2010, 2012, 2014, 201..."
6,11902785,"TAYLOR, DALE",48,258050.00,"[2016, 2018, 2020]"
7,4336953,"GIRARDI, THOMAS V.",24,235100.00,"[2014, 2016, 2018, 2020]"
8,6433238,"KIRK, CLAY",98,211850.00,"[2014, 2016, 2018, 2020]"
9,1661575,"BYERS, BROOK",60,194900.00,"[2014, 2016, 2018, 2020]"
10,9188602,"PARK, TODD",26,155414.00,"[2018, 2020]"
11,4745356,"GURAL, JEFFREY",49,134500.00,"[2004, 2014, 2016, 2018, 2020]"
12,6822374,"LARSEN, CHRIS",26,115200.00,"[2010, 2016, 2018, 2020]"
13,8793106,"NIELSEN, SHEILA",474,113619.00,"[2014, 2016, 2018, 2020]"
14,10325529,"ROSZAK, MATTHEW",6,110181.00,"[2018, 2020]"
15,6110433,"KAHN, RONALD N",38,105600.00,"[2014, 2016, 2018, 2020]"
16,8848719,"NORTON, JACK",200,102475.00,"[2010, 2012, 2014, 2016, 2018, 2020]"
17,5870457,"JENCKS, CHRISTOPHER",309,102033.00,"[2004, 2006, 2012, 2014, 2016, 2018, 2020]"
18,9683572,"PROCKOP, DARWIN J. MD, PHD",3,102000.00,"[2016, 2018]"
19,11659801,"STOREY, BAYARD T PH.D.",16,91700.00,"[2006, 2014, 2016]"
20,4435025,"GOLLON, PETER",169,87000.00,"[2014, 2016, 2018, 2020]"
21,3993057,"FRIEDMAN, DONNA",22,58550.00,"[2014, 2016, 2018, 2020]"
22,8656333,"NASH, RICHARD",5,58099.00,[2018]
23,12143213,"TORRES, TOMAS",128,58062.00,"[2012, 2014, 2016, 2018, 2020]"
24,12265351,"TUSK, BRADLEY",21,55600.00,"[2014, 2016, 2018, 2020]"
25,4293837,"GILBERT, JOHN",94,39225.00,"[2004, 2006, 2014, 2016, 2018, 2020]"
26,9165471,"PARK, DAVID",12,36345.00,[2018]
27,3678807,"FERSTER, DAVID",62,32058.00,"[2014, 2016, 2018, 2020]"
28,7037936,"LEVINSON, FRANK",43,31541.00,"[2016, 2018, 2020]"
29,6147085,"KAPER, TASSO",65,25109.00,"[2014, 2016, 2018, 2020]"
30,11356137,"SOLIMAN, KARL",9,25033.00,[2018]
31,8417423,"MORGAN, HOWARD L.",1,25000.00,[2018]
32,8688914,"NEGROPONTE, NICHOLAS",7,21987.00,[2018]
33,5515167,"HORLICK, SUSAN",222,20670.00,"[2016, 2018, 2020]"
34,5601495,"HUDSON, BRUCE S.",11,17000.00,[2016]
35,4684620,"GROSSBLATT, DAVID",6,16033.00,[2018]
36,3850042,"FORDE, JAMES",4,13500.00,[2018]
37,5486301,"HONARKAR, MOHAMMAD",43,11950.00,"[2016, 2018]"
38,11024692,"SHOCH, JOHN PHD",2,11000.00,"[2016, 2018]"
39,2576925,"CUELLAR, CLIFFORD",54,10584.00,"[2016, 2018, 2020]"
40,9688035,"PROOPS, JAY",2,10250.00,[2018]
41,678448,"BASSI, STEVE",1,10233.00,[2018]
42,6872845,"LAWRENCE, FRANK",11,10165.00,"[2016, 2020]"
43,11823232,"SWINDELL, DAVE",2,10000.00,[2018]
44,5902719,"JHONG, EUGENE",8,8802.00,"[2018, 2020]"
45,3997846,"FRIEDMAN, RANDOLPH",2,7700.00,"[2018, 2020]"
46,877907,"BERG, FRED",17,6005.00,"[2016, 2018]"
47,9625220,"POWERS, ANN",13,5110.00,"[2016, 2018]"
48,8496236,"MOUNT, PHYLLIS F.",6,5071.00,"[2018, 2020]"
49,4828088,"HALL, CLAIRE",2,5000.00,[2018]